<?xml version="1.0" encoding="UTF-8"?>
<taglib version="2.0" xmlns="http://java.sun.com/xml/ns/j2ee" 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee/web-jsptaglibrary_2_1.xsd">
  <tlib-version>1.0</tlib-version>
    <short-name>dateFmt1</short-name>
    <uri>/WEB-INF/tag/CustomizeFn</uri>
    <function>
        <name>getAuthFlag</name>
        <function-class>egovframework.happy.cmmn.CustomizeTag</function-class>
        <function-signature>java.lang.Boolean getAuthFlag(java.lang.String)</function-signature>
    </function>
    <function>
        <name>dateFmt1</name>
        <function-class>egovframework.happy.cmmn.CustomizeTag</function-class>
        <function-signature>java.lang.String dateFmt1(java.sql.Timestamp)</function-signature>
    </function>
    <function>
        <name>dateFmt2</name>
        <function-class>egovframework.happy.cmmn.CustomizeTag</function-class>
        <function-signature>java.lang.String dateFmt2(java.sql.Timestamp)</function-signature>
    </function>
        <function>
        <name>dateFmt3</name>
        <function-class>egovframework.happy.cmmn.CustomizeTag</function-class>
        <function-signature>java.lang.String dateFmt3(java.sql.Timestamp)</function-signature>
    </function>
</taglib>