@charset "UTF-8";
button, [type='button'], [type='reset'], [type='submit'] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 0;
  cursor: pointer;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  white-space: nowrap;
  color: inherit;
  font: inherit;
  overflow: visible; }
  button:hover, button:focus, [type='button']:hover, [type='button']:focus, [type='reset']:hover, [type='reset']:focus, [type='submit']:hover, [type='submit']:focus {
    color: #fff; }
  button:disabled, [type='button']:disabled, [type='reset']:disabled, [type='submit']:disabled {
    cursor: not-allowed;
    opacity: 0.5;
    cursor: default; }
    button:disabled:hover, [type='button']:disabled:hover, [type='reset']:disabled:hover, [type='submit']:disabled:hover {
      background-color: #1565c0; }

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0; }

input,
select,
textarea,
optgroup {
  color: inherit;
  font: inherit;
  cursor: default; }

[type='color'], [type='date'], [type='datetime'], [type='datetime-local'], [type='email'], [type='month'], [type='number'], [type='password'], [type='search'], [type='tel'], [type='text'], [type='time'], [type='url'], [type='week'], input:not([type]), textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  [type='color']:focus, [type='date']:focus, [type='datetime']:focus, [type='datetime-local']:focus, [type='email']:focus, [type='month']:focus, [type='number']:focus, [type='password']:focus, [type='search']:focus, [type='tel']:focus, [type='text']:focus, [type='time']:focus, [type='url']:focus, [type='week']:focus, input:not([type]):focus, textarea:focus {
    outline: none; }
  [type='color']:disabled, [type='date']:disabled, [type='datetime']:disabled, [type='datetime-local']:disabled, [type='email']:disabled, [type='month']:disabled, [type='number']:disabled, [type='password']:disabled, [type='search']:disabled, [type='tel']:disabled, [type='text']:disabled, [type='time']:disabled, [type='url']:disabled, [type='week']:disabled, input:not([type]):disabled, textarea:disabled {
    cursor: not-allowed; }
  [type='color']::-webkit-input-placeholder, [type='date']::-webkit-input-placeholder, [type='datetime']::-webkit-input-placeholder, [type='datetime-local']::-webkit-input-placeholder, [type='email']::-webkit-input-placeholder, [type='month']::-webkit-input-placeholder, [type='number']::-webkit-input-placeholder, [type='password']::-webkit-input-placeholder, [type='search']::-webkit-input-placeholder, [type='tel']::-webkit-input-placeholder, [type='text']::-webkit-input-placeholder, [type='time']::-webkit-input-placeholder, [type='url']::-webkit-input-placeholder, [type='week']::-webkit-input-placeholder, input:not([type])::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #858585; }
  [type='color']::-moz-placeholder, [type='date']::-moz-placeholder, [type='datetime']::-moz-placeholder, [type='datetime-local']::-moz-placeholder, [type='email']::-moz-placeholder, [type='month']::-moz-placeholder, [type='number']::-moz-placeholder, [type='password']::-moz-placeholder, [type='search']::-moz-placeholder, [type='tel']::-moz-placeholder, [type='text']::-moz-placeholder, [type='time']::-moz-placeholder, [type='url']::-moz-placeholder, [type='week']::-moz-placeholder, input:not([type])::-moz-placeholder, textarea::-moz-placeholder {
    color: #858585; }
  [type='color']:-ms-input-placeholder, [type='date']:-ms-input-placeholder, [type='datetime']:-ms-input-placeholder, [type='datetime-local']:-ms-input-placeholder, [type='email']:-ms-input-placeholder, [type='month']:-ms-input-placeholder, [type='number']:-ms-input-placeholder, [type='password']:-ms-input-placeholder, [type='search']:-ms-input-placeholder, [type='tel']:-ms-input-placeholder, [type='text']:-ms-input-placeholder, [type='time']:-ms-input-placeholder, [type='url']:-ms-input-placeholder, [type='week']:-ms-input-placeholder, input:not([type]):-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: #858585; }
  [type='color']::placeholder, [type='date']::placeholder, [type='datetime']::placeholder, [type='datetime-local']::placeholder, [type='email']::placeholder, [type='month']::placeholder, [type='number']::placeholder, [type='password']::placeholder, [type='search']::placeholder, [type='tel']::placeholder, [type='text']::placeholder, [type='time']::placeholder, [type='url']::placeholder, [type='week']::placeholder, input:not([type])::placeholder, textarea::placeholder {
    color: #858585; }

textarea {
  resize: vertical; }

[type="checkbox"],
[type="radio"] {
  display: inline; }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

ul,
ol {
  list-style-type: none; }

dt {
  margin: 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%; }

th {
  text-align: left; }

a {
  -webkit-transition: color 150ms ease;
  transition: color 150ms ease; }

/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

article, aside, footer, header, nav, section {
  display: block; }

figcaption, figure, main {
  display: block; }

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  overflow: visible; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

small {
  font-size: 80%; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

button, input, optgroup, select, textarea {
  margin: 0; }

button, input {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html [type="button"],
[type="reset"], [type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

legend {
  color: inherit;
  display: table;
  max-width: 100%;
  white-space: normal; }

textarea {
  overflow: auto; }

[type="checkbox"], [type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details,
menu {
  display: block; }

summary {
  display: list-item; }

canvas {
  display: inline-block; }

template {
  display: none; }

[hidden] {
  display: none; }

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format("opentype"); }

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 300;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format("opentype"); }

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format("opentype"); }

/* color */
/* typography */
html {
  font-family: sans-serif;
  font-size: 1em;
  line-height: 1;
  color: #000;
  font-family: "Noto Sans KR", "Apple SD Gothic Neo", "맑은 고딕", "Malgun Gothic", AppleGothic, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Lucida Grande", Tahoma, Verdana, "나눔고딕", UnDotum, Dotum, sans-serif; }

em {
  font-style: italic; }

strong, b {
  font-weight: bold; }

hr {
  border: solid #aaa;
  border-width: 1px 0 0;
  clear: both;
  margin: 10px 0 30px;
  height: 0; }

.c-header-1 {
  z-index: 100; }

.course-step--foot,
.c-reply-foot,
.c-view-foot {
  z-index: 100; }

/* base */
#__bs_notify__ {
  top: inherit !important;
  bottom: 0 !important; }

html {
  height: 100%;
  min-height: 100%;
  vertical-align: top; }

* {
  vertical-align: inherit; }

body,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre, dl, dd, ol, ul,
form, fieldset, legend, figure,
table, th, td, caption, hr {
  margin: 0;
  padding: 0; }

body {
  overflow-x: hidden; }

/* layout */
.l-wrap {
  width: 100%;
  max-width: 1130px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
  position: relative; }
  .l-wrap.u-full {
    padding: 0; }
  @media (min-width: 641px) {
    .l-wrap {
      padding: 0 20px; } }
  @media (min-width: 961px) {
    .l-wrap {
      padding: 0 45px; } }

.l-wrap--full {
  width: 100%;
  max-width: 100%; }

/* forms */
.c-radio-wrap, .c-select-wrap {
  overflow: hidden;
  height: 38px;
  line-height: 36px;
  margin-bottom: 10px; }
  .c-radio-wrap label, .c-select-wrap label {
    margin-right: 10px;
    font-size: 13px;
    font-size: 0.8125rem;
    color: #444; }
  .c-radio-wrap [type="radio"], .c-select-wrap [type="radio"] {
    display: inline-block;
    margin-top: 11px;
    margin-right: 3px; }
  .c-radio-wrap [type="text"], .c-radio-wrap select, .c-select-wrap [type="text"], .c-select-wrap select {
    text-align: right;
    float: right;
    width: -webkit-calc(100% - 130px) !important;
    width: calc(100% - 130px) !important; }
  .c-radio-wrap [type="text"], .c-select-wrap [type="text"] {
    margin-bottom: 0; }

/* links */
a {
  color: #000;
  text-decoration: none;
  outline: 0; }
  a:hover, a:focus {
    color: inherit; }
  a:visited {
    color: inherit; }

.u-link_wrap-1 a:nth-child(1) {
  margin-right: 10px; }

.u-link_wrap-2 {
  text-align: center; }

[class*="u-link-"] {
  display: inline-block;
  text-align: center; }

.u-link-1 {
  background-color: #2fb8e0;
  border: 1px solid #2fb8e0;
  color: #fff !important; }

.u-link-2 {
  border: 1px solid #bbb;
  color: #444; }

.u-link-4 {
  background-color: #FFF;
  color: #000; }
  .u-link-4.c1 {
    border: 1px solid #a1a1a1; }

.u-link-5 {
  background-color: #4c4c4c;
  color: #fff !important; }

.u-link-7 {
  background-color: #555;
  color: #fff !important; }

/* header */
.u-hover-header {
  padding-top: 47px; }

.c-header,
.c-nav {
  border-bottom: 1px solid #d4d4d4;
  background-color: #FFF; }

.c-header__logo img {
  height: 49.5px; }
  @media (min-width: 641px) {
    .c-header__logo img {
      height: 64px; } }

.c-header__search {
  position: absolute;
  right: 130px;
  top: 12px; }
  @media (min-width: 641px) {
    .c-header__search {
      right: 165px;
      top: 20px; } }
  @media (min-width: 961px) {
    .c-header__search {
      right: 190px; } }

.c-header__change-to-p {
  position: absolute;
  right: 15px;
  top: 11px; }
  .c-header__change-to-p img {
    height: 27.5px; }
    @media (min-width: 641px) {
      .c-header__change-to-p img {
        height: 34px; } }
  @media (min-width: 641px) {
    .c-header__change-to-p {
      right: 20px;
      top: 15px; } }
  @media (min-width: 961px) {
    .c-header__change-to-p {
      right: 45px; } }

.c-nav {
  text-align: center; }

.c-nav .l-wrap {
  margin-bottom: -1px; }

.c-nav__item {
  display: inline-block;
  margin: 0 5px;
  width: 58px; }
  @media (min-width: 641px) {
    .c-nav__item {
      margin: 0 15px;
      width: 120px; } }
  .c-nav__item a {
    font-size: 13px;
    font-size: 0.8125rem;
    height: 37px;
    line-height: 37px;
    display: block; }
    .c-nav__item a.is-active, .c-nav__item a:hover {
      color: #2fb8e0;
      border-bottom: 3px solid #2fb8e0; }
    @media (min-width: 641px) {
      .c-nav__item a {
        font-size: 18px;
        font-size: 1.125rem;
        height: 45px;
        line-height: 45px; } }

.u-2 .c-nav__item {
  width: 130px; }

.c-header-1 {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #2fb8e0;
  border-bottom: 1px solid #0393bd;
  padding: 13px 0; }
  .c-header-1 div {
    position: relative; }
  .c-header-1 h1 {
    color: #fff;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem; }
  .c-header-1 .num {
    width: 20px;
    height: 20px;
    display: inline-block;
    border: 1px solid #fff;
    -webkit-border-radius: 10px;
            border-radius: 10px;
    margin-right: 5px;
    line-height: 1.4;
    font-size: 13px;
    font-size: 0.8125rem;
    margin-top: 0; }
  .c-header-1 a {
    position: absolute; }
  .c-header-1 .js-close {
    content: ' ';
    background-image: url(../img/close.png);
    background-size: 100%;
    width: 14px;
    height: 14px;
    display: inline-block;
    right: 15px;
    top: 0; }
    @media (min-width: 641px) {
      .c-header-1 .js-close {
        right: 20px; } }
    @media (min-width: 961px) {
      .c-header-1 .js-close {
        right: 45px; } }
  .c-header-1 .js-prev {
    content: ' ';
    background-image: url(../img/arrow-5-l.png);
    background-size: 100%;
    width: 10px;
    height: 18px;
    display: inline-block;
    left: 15px;
    top: 0; }
    @media (min-width: 641px) {
      .c-header-1 .js-prev {
        left: 20px; } }
    @media (min-width: 961px) {
      .c-header-1 .js-prev {
        left: 45px; } }
  .c-header-1 .js-done {
    right: 15px;
    top: -4px;
    color: #fff;
    border: 1px solid #fff;
    width: 48px;
    height: 26px;
    line-height: 24px;
    text-align: center;
    display: inline-block;
    font-size: 12.5px;
    font-size: 0.78125rem; }
    @media (min-width: 641px) {
      .c-header-1 .js-done {
        right: 20px; } }
    @media (min-width: 961px) {
      .c-header-1 .js-done {
        right: 45px; } }

/* sitemap */
.c-sitemap {
  counter-reset: section;
  margin: 1em auto; }
  .c-sitemap h1 {
    margin-bottom: 1.2em;
    font-size: 18px;
    font-size: 1.125rem;
    color: #222; }
  .c-sitemap h2 {
    margin-bottom: 1em;
    font-size: 14px;
    font-size: 0.875rem; }
  .c-sitemap a {
    margin-bottom: .5em;
    display: block;
    padding: .4em 0;
    line-height: 1;
    font-size: 12px;
    font-size: 0.75rem; }
    .c-sitemap a.is-active, .c-sitemap a:hover {
      background-color: #eee;
      color: #2fb8e0; }
  .c-sitemap a:before {
    counter-increment: section;
    content: "Page " counters(section, ".", decimal-leading-zero) " : ";
    color: #aaa;
    padding-right: 1em; }
  .c-sitemap p {
    text-align: center;
    margin-bottom: 2em; }
  .c-sitemap span {
    padding-left: 1em;
    color: #aaa;
    font-size: 11px;
    font-size: 0.6875rem; }

/* .c-footer */
.c-footer {
  background-color: #f0f0f0;
  text-align: center; }
  .c-footer p {
    color: #666;
    font-size: 11px;
    font-size: 0.6875rem; }
    @media (min-width: 641px) {
      .c-footer p {
        font-size: 14px;
        font-size: 0.875rem; } }
  .c-footer ul, .c-footer p {
    display: none; }
    @media (min-width: 641px) {
      .c-footer ul, .c-footer p {
        display: block; } }

.c-footer .c-footer__copyright {
  display: block; }

.c-footer .l-wrap {
  padding: 20px 10px; }
  @media (min-width: 641px) {
    .c-footer .l-wrap {
      padding: 30px 10px; } }

.c-footer-buttons__item {
  display: inline-block;
  color: #333;
  background-color: #FFF;
  font-size: 11px;
  font-size: 0.6875rem; }
  @media (min-width: 641px) {
    .c-footer-buttons__item {
      font-size: 14px;
      font-size: 0.875rem; } }
  .c-footer-buttons__item a {
    display: block;
    padding: 15px 40px; }

.c-footer__links {
  margin-bottom: 25px; }

.c-footer-links__item {
  font-size: 11px;
  font-size: 0.6875rem;
  display: inline-block; }
  @media (min-width: 641px) {
    .c-footer-links__item {
      font-size: 14px;
      font-size: 0.875rem; } }
  .c-footer-links__item:after {
    content: '|';
    padding: 0 5px;
    color: #bbb; }
  .c-footer-links__item:last-child:after {
    display: none; }

.c-footer__info {
  font-size: 11px;
  font-size: 0.6875rem;
  color: #444;
  line-height: 1.6;
  margin: 20px 0; }
  @media (min-width: 641px) {
    .c-footer__info {
      font-size: 14px;
      font-size: 0.875rem; } }

/* modal */
.u-mask {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #000;
  opacity: .7;
  display: none;
  z-index: 1000; }

.u-modal {
  z-index: 1002;
  background-color: #FFF;
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: -webkit-calc(100% - 60px);
  width: calc(100% - 60px);
  max-width: 450px;
  display: none; }
  .u-modal .u-link_wrap-1 a {
    width: -webkit-calc(50% - 5px);
    width: calc(50% - 5px);
    font-size: 13.5px;
    font-size: 0.84375rem;
    height: 32px;
    line-height: 31px; }
    @media (min-width: 641px) {
      .u-modal .u-link_wrap-1 a {
        font-size: 17px;
        font-size: 1.0625rem;
        height: 45px;
        line-height: 43px; } }
  .u-modal .u-link_wrap-2 a {
    width: 50%;
    font-size: 13.5px;
    font-size: 0.84375rem;
    height: 32px;
    line-height: 31px; }
    @media (min-width: 641px) {
      .u-modal .u-link_wrap-2 a {
        font-size: 17px;
        font-size: 1.0625rem;
        height: 45px;
        line-height: 43px; } }

.c-modal-1 {
  padding: 15px; }
  .c-modal-1 h1 {
    font-size: 13.5px;
    margin-bottom: 15px; }
  .c-modal-1 p, .c-modal-1 label {
    font-size: 11.5px;
    font-size: 0.71875rem; }

.c-modal--policy .c-text {
  border: 1px solid #b2b2b2;
  padding: 15px;
  font-size: 11px;
  font-size: 0.6875rem;
  color: #444;
  line-height: 1.6;
  min-height: 200px;
  width: 100%;
  display: block;
  margin-bottom: 15px; }

.c-modal--policy [type="checkbox"] {
  margin-right: 5px;
  display: inline-block;
  margin-top: -2px; }

.c-modal--policy .c-checkbox-wrap {
  margin-bottom: 15px; }

.c-modal--policy label {
  display: inline; }

.c-modal-2 .js-modal--close {
  right: 15px;
  top: 15px; }

.c-modal-2 > a {
  height: 45px;
  line-height: 45px;
  font-size: 12px;
  font-size: 0.75rem;
  color: #111;
  display: block;
  border-bottom: 1px solid #dadada;
  padding-left: 40px;
  position: relative; }

.c-modal-2 [class*='i-']:before {
  position: absolute;
  left: 13px;
  top: 17px; }

.c-modal-2 .i-img:before {
  content: ' ';
  background-image: url(../img/i-camera.png);
  background-size: 100%;
  width: 16px;
  height: 13px;
  display: inline-block; }

.c-modal-2 .i-lib:before {
  content: ' ';
  background-image: url(../img/i-pic.png);
  background-size: 100%;
  width: 16px;
  height: 13.5px;
  display: inline-block; }

.c-modal-2 .i-video:before {
  content: ' ';
  background-image: url(../img/i-video.png);
  background-size: 100%;
  width: 16px;
  height: 11px;
  display: inline-block; }

.c-modal-2 .i-youtube:before {
  content: ' ';
  background-image: url(../img/i-youtube.png);
  background-size: 100%;
  width: 16.5px;
  height: 12.5px;
  display: inline-block; }

.c-modal-2 .course-step__part {
  padding: 15px;
  margin: 0; }
  .c-modal-2 .course-step__part .u-link_wrap-1 {
    margin-top: 20px; }

.c-upload {
  text-align: center; }
  .c-upload p {
    margin-bottom: 30px;
    margin-top: 15px; }
    .c-upload p span {
      font-size: 14px;
      font-size: 0.875rem; }
      .c-upload p span:nth-child(1) {
        color: #ff3467;
        padding-right: 5px; }
        .c-upload p span:nth-child(1):after {
          content: '%'; }
  .c-upload .progress {
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
    background-color: #dcdcdc;
    border: 0;
    height: 4px;
    -webkit-border-radius: 4px;
            border-radius: 4px; }
    .c-upload .progress span {
      width: 40%;
      background-color: #ff3467;
      float: left;
      height: 4px;
      -webkit-border-radius: 4px;
              border-radius: 4px; }

/* cards */
.c-slider {
  text-align: center; }

.u-bgc-1 {
  background-color: #ececec; }

.u-bgc-2 {
  background-color: #d9d9d9; }

.c-card--wrap {
  padding: 30px 0 15px; }
  @media (min-width: 641px) {
    .c-card--wrap {
      padding: 50px 0 25px; } }

.c-card__title {
  font-size: 18px;
  font-size: 1.125rem;
  margin-bottom: 20px;
  font-weight: 400; }

.c-cards {
  overflow: hidden;
  margin: 0 -5px; }
  @media (min-width: 641px) {
    .c-cards {
      margin: 0 -10px; } }
  @media (min-width: 961px) {
    .c-cards {
      margin: 0 -16px; } }

.c-cards__item {
  float: left;
  border: 1px solid #d4d4d4;
  background-color: #FFF;
  width: -webkit-calc(50% - 10px);
  width: calc(50% - 10px);
  margin: 0 5px 10px 5px; }
  @media (min-width: 641px) {
    .c-cards__item {
      width: -webkit-calc(33.3% - 20px);
      width: calc(33.3% - 20px);
      margin: 0 10px 20px 10px; } }
  @media (min-width: 961px) {
    .c-cards__item {
      width: -webkit-calc(25% - 32px);
      width: calc(25% - 32px);
      margin: 0 16px 28px 16px; } }
  .c-cards__item a {
    display: block; }
    .c-cards__item a > img {
      width: 100%; }
  .c-cards__item h1, .c-cards__item div, .c-cards__item p, .c-cards__item strong {
    padding: 0 10px; }
    @media (min-width: 641px) {
      .c-cards__item h1, .c-cards__item div, .c-cards__item p, .c-cards__item strong {
        padding: 0 20px; } }
  .c-cards__item strong {
    color: #00ace6;
    height: 40px;
    line-height: 39px;
    border-top: 1px solid #d4d4d4;
    text-align: right;
    display: block;
    font-size: 20px;
    font-size: 1.25rem;
    font-weight: 500; }
    @media (min-width: 641px) {
      .c-cards__item strong {
        font-size: 25px;
        font-size: 1.5625rem; } }
  .c-cards__item h1 {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.2;
    margin: 10px 0; }
    @media (min-width: 641px) {
      .c-cards__item h1 {
        font-size: 19px;
        font-size: 1.1875rem;
        margin: 14px 0; } }
  .c-cards__item p {
    margin: 10px 0 10px;
    font-size: 14px;
    font-size: 0.875rem;
    height: 42px;
    line-height: 42px; }
    @media (min-width: 641px) {
      .c-cards__item p {
        font-size: 17px;
        font-size: 1.0625rem;
        margin: 15px 0 10px; } }
    .c-cards__item p span {
      margin-left: 10px; }
  .c-cards__item div img {
    width: 15px; }
    @media (min-width: 641px) {
      .c-cards__item div img {
        width: 18px; } }
  .c-cards__item div span {
    font-size: 14px;
    font-size: 0.875rem;
    color: #333;
    margin-left: 5px;
    line-height: 18px; }
    @media (min-width: 641px) {
      .c-cards__item div span {
        font-size: 17px;
        font-size: 1.0625rem;
        margin-left: 10px;
        line-height: 20px; } }

.c-card__with-desc {
  overflow: hidden;
  margin-bottom: 15px; }

.c-card_desc {
  float: left;
  width: 220px;
  padding-right: 50px;
  min-height: 337px;
  position: relative; }
  .c-card_desc p {
    font-size: 18px;
    font-size: 1.125rem;
    color: #555;
    line-height: 1.4; }
  .c-card_desc a {
    position: absolute;
    bottom: 0;
    font-size: 14px;
    font-size: 0.875rem;
    left: 0;
    border: 1px solid #000;
    padding: 10px 13px; }

.c-cards__wrap {
  float: left;
  width: -webkit-calc(100% - 220px);
  width: calc(100% - 220px); }
  @media (min-width: 1131px) {
    .c-cards__wrap {
      overflow: hidden; } }

.c-card__with-desc .c-cards {
  margin: 0;
  height: 337px;
  width: 2000px; }

.c-card__with-desc .c-cards__item {
  width: 236px;
  margin: 0;
  margin-right: 28px; }

/* home */
/* sub */
.u-bgc {
  background-color: #f0f0f0; }

/* course-1-2 */
.c-course--list {
  padding-top: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
  background-color: #fff; }
  @media (min-width: 641px) {
    .c-course--list {
      padding-top: 35px; } }
  .c-course--list h1 {
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: 400;
    margin-bottom: 10px; }
    @media (min-width: 641px) {
      .c-course--list h1 {
        font-size: 20px;
        font-size: 1.25rem; } }
    .c-course--list h1:before {
      content: ' ';
      background-image: url(../img/i-pencil.png);
      background-size: 100% 100%;
      display: inline-block;
      width: 13.5px;
      height: 15px;
      margin-right: 7px;
      line-height: 1.2; }
      @media (min-width: 641px) {
        .c-course--list h1:before {
          width: 21px;
          height: 24px; } }
    .c-course--list h1.is-opened:before {
      content: ' ';
      background-image: url(../img/i-checked.png);
      background-size: 100% 100%;
      display: inline-block;
      width: 15px;
      height: 15px;
      margin-right: 7px; }
      @media (min-width: 641px) {
        .c-course--list h1.is-opened:before {
          width: 23px;
          height: 23px; } }
    .c-course--list h1 span {
      font-size: 14px;
      font-size: 0.875rem;
      color: #000;
      line-height: 1.8; }
      @media (min-width: 641px) {
        .c-course--list h1 span {
          font-size: 20px;
          font-size: 1.25rem; } }
      .c-course--list h1 span:before {
        content: '('; }
      .c-course--list h1 span:after {
        content: ')'; }
  .c-course--list ul {
    overflow: hidden; }
  .c-course--list li {
    margin-bottom: 20px;
    position: relative; }
    .c-course--list li > a {
      display: block; }
    .c-course--list li:after {
      content: ' ';
      background-image: url(../img/arrow-3-r.png);
      background-size: 100%;
      width: 8px;
      height: 14px;
      position: absolute;
      right: 0;
      top: 50%;
      -webkit-transform: translate(0, -50%);
          -ms-transform: translate(0, -50%);
              transform: translate(0, -50%); }
    @media (min-width: 1131px) {
      .c-course--list li {
        float: left;
        width: 50%;
        margin-bottom: 40px; }
        .c-course--list li:after {
          right: 65px; } }
  .c-course--list figure {
    overflow: hidden; }
  .c-course--list img, .c-course--list figcaption {
    float: left; }
  .c-course--list img {
    width: 50%; }
    @media (min-width: 641px) {
      .c-course--list img {
        max-width: 210px; } }
  .c-course--list figcaption {
    width: 50%; }
  .c-course--list figcaption {
    padding-left: 10px; }
  .c-course--list .won {
    font-size: 17.5px;
    font-size: 1.09375rem;
    color: #00ace6; }
    @media (min-width: 641px) {
      .c-course--list .won {
        font-size: 25px;
        font-size: 1.5625rem; } }
    .c-course--list .won:after {
      content: '원'; }
  .c-course--list .off, .c-course--list .on, .c-course--list .e {
    font-size: 9px;
    font-size: 0.5625rem;
    color: #fff;
    display: inline-block;
    padding: 0 7px;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    height: 14px;
    line-height: 14px; }
    @media (min-width: 641px) {
      .c-course--list .off, .c-course--list .on, .c-course--list .e {
        font-size: 14px;
        font-size: 0.875rem; } }
    @media (min-width: 641px) {
      .c-course--list .off, .c-course--list .on, .c-course--list .e {
        padding: 0 10px;
        height: 22px;
        line-height: 22px; } }
  .c-course--list .on {
    background-color: #ff3467; }
  .c-course--list .off {
    background-color: #3f7ff4; }
  .c-course--list .e {
    background-color: #808080;
    position: relative;
    padding-left: 20px; }
    @media (min-width: 641px) {
      .c-course--list .e {
        padding-left: 30px; } }
    .c-course--list .e:before {
      content: ' ';
      background-image: url(../img/i-e.png);
      background-size: 100% 100%;
      display: inline-block;
      width: 9.5px;
      height: 8.5px;
      margin-right: 7px;
      position: absolute;
      left: 5px;
      top: 3px; }
      @media (min-width: 641px) {
        .c-course--list .e:before {
          width: 15px;
          height: 14px;
          left: 7px;
          top: 4px; } }
  .c-course--list h2 {
    font-size: 13.5px;
    font-size: 0.84375rem;
    margin: 9px 0;
    line-height: 1.2;
    font-weight: 400; }
    @media (min-width: 641px) {
      .c-course--list h2 {
        font-size: 19px;
        font-size: 1.1875rem;
        margin: 12px 0; } }
    .c-course--list h2:first-child {
      margin-top: 0;
      margin-bottom: 5px; }
  .c-course--list p {
    font-size: 10.5px;
    font-size: 0.65625rem;
    color: #888;
    margin: 8px 0 10px;
    font-weight: 300; }
    @media (min-width: 641px) {
      .c-course--list p {
        font-size: 16px;
        font-size: 1rem;
        margin: 15px 0 20px; } }
  .c-course--list div > img {
    width: 24px; }
    @media (min-width: 641px) {
      .c-course--list div > img {
        width: 42px; } }
  .c-course--list div > span {
    font-size: 11px;
    font-size: 0.6875rem;
    line-height: 24px;
    color: #000;
    margin-left: 10px; }
    @media (min-width: 641px) {
      .c-course--list div > span {
        font-size: 17px;
        font-size: 1.0625rem;
        line-height: 42px; } }
  .c-course--list figcaption div {
    margin-bottom: 8px; }
  .c-course--list .u-link_wrap-1 a {
    width: -webkit-calc(50% - 5px);
    width: calc(50% - 5px);
    font-size: 13.5px;
    font-size: 0.84375rem;
    height: 32px;
    line-height: 31px; }
    @media (min-width: 641px) {
      .c-course--list .u-link_wrap-1 a {
        max-width: 200px;
        font-size: 17px;
        font-size: 1.0625rem;
        height: 45px;
        line-height: 43px; } }

.c-course--none {
  overflow: hidden; }
  .c-course--none p {
    margin: 0 auto;
    width: 238px; }

.c-course__add {
  background-image: url(../img/i-plus.png);
  background-size: 100% 100%;
  display: inline-block;
  width: 57px;
  height: 57px;
  position: fixed;
  right: 15px;
  bottom: 20px; }
  @media (min-width: 641px) {
    .c-course__add {
      width: 82px;
      height: 82px; } }
  @media (min-width: 641px) {
    .c-course__add {
      right: 10px; } }
  @media (min-width: 1131px) {
    .c-course__add {
      right: 50%;
      margin-right: -520px; } }

.c-course__add--wrap.u-none .c-course__add {
  right: 50%;
  margin-right: -150px; }
  @media (min-width: 641px) {
    .c-course__add--wrap.u-none .c-course__add {
      right: 50%;
      margin-right: -150px; } }

.c-course__add--wrap {
  height: 35px;
  position: relative; }

/* course-2 course-set */
.course-set--title {
  padding: 25px 0;
  background-color: #43bfe3;
  position: relative; }
  .course-set--title img {
    width: 150px; }
  .course-set--title a {
    width: 80px;
    height: 26px;
    line-height: 26px;
    font-size: 12.5px;
    font-size: 0.78125rem;
    position: absolute;
    right: 15px;
    top: -8px; }
    @media (min-width: 641px) {
      .course-set--title a {
        right: 20px; } }
    @media (min-width: 961px) {
      .course-set--title a {
        right: 45px; } }
    .course-set--title a:last-child {
      top: 22px; }

.course-set {
  padding-top: 30px;
  counter-reset: li; }
  .course-set li {
    margin-bottom: 40px;
    padding-left: 33px;
    position: relative; }
    .course-set li span {
      position: absolute;
      left: 10px;
      width: 1px;
      background-color: #43bfe3;
      height: -webkit-calc(100% + 23px);
      height: calc(100% + 23px);
      top: 15px; }
    .course-set li:after {
      content: ' ';
      background-image: url(../img/i-tri-down.png);
      background-size: 100% 100%;
      display: inline-block;
      width: 9px;
      height: 6px;
      position: absolute;
      right: 0;
      top: 0; }
    .course-set li.is-on {
      margin-bottom: 26px; }
      .course-set li.is-on p {
        display: block; }
      .course-set li.is-on a {
        display: inline-block; }
      .course-set li.is-on span {
        height: -webkit-calc(100% + 10px);
        height: calc(100% + 10px); }
      .course-set li.is-on:before {
        color: #fff;
        background-color: #2fb8e0;
        width: 22px;
        height: 22px;
        border: 3px solid #fff;
        -webkit-border-radius: 11px;
                border-radius: 11px;
        -webkit-box-shadow: 0 0 4px #2fb8e0;
                box-shadow: 0 0 4px #2fb8e0;
        left: 0; }
    .course-set li.is-checked span {
      background-color: #8f8f8f; }
    .course-set li.is-checked:before {
      content: ' ';
      background-image: url(../img/i-checked-2.png);
      background-size: 9px 7px;
      background-repeat: no-repeat;
      background-position: center center;
      display: inline-block;
      width: 18px;
      height: 18px;
      background-color: #8f8f8f;
      border: 1px solid #8f8f8f; }
    .course-set li:before {
      counter-increment: li;
      content: counter(li);
      position: absolute;
      left: 2px;
      top: -2px;
      width: 18px;
      height: 18px;
      text-align: center;
      line-height: 16px;
      border: 1px solid #2fb8e0;
      color: #2fb8e0;
      font-size: 10px;
      font-size: 0.625rem;
      -webkit-border-radius: 9px;
              border-radius: 9px; }
  .course-set h3 {
    font-size: 15px;
    font-size: 0.9375rem;
    font-weight: 400; }
  .course-set p {
    font-size: 12.5px;
    font-size: 0.78125rem;
    color: #444;
    margin: 10px 0 10px;
    line-height: 1.5;
    display: none;
    font-weight: 300; }
  .course-set a {
    font-size: 11.5px;
    font-size: 0.71875rem;
    padding: 7px 10px;
    display: none; }

.course-set--foot {
  background-color: #ececec;
  padding: 20px 0;
  position: relative; }
  .course-set--foot p {
    font-size: 13px;
    font-size: 0.8125rem;
    color: #222;
    line-height: 1.3; }
  .course-set--foot a {
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 12.5px;
    font-size: 0.78125rem;
    height: 30px;
    width: 80px;
    line-height: 28px; }
    @media (min-width: 641px) {
      .course-set--foot a {
        right: 20px; } }
    @media (min-width: 961px) {
      .course-set--foot a {
        right: 45px; } }

/* course-3 .course-step */
.u-fixed-footer {
  padding-bottom: 60px; }

.course-step--title {
  background-color: #f0f0f0;
  padding: 16px 0; }
  .course-step--title h2 {
    font-size: 13px;
    font-size: 0.8125rem;
    line-height: 1.3;
    font-weight: 400; }
    .course-step--title h2:before {
      content: ' ';
      background-image: url(../img/i-mic.png);
      background-size: 100%;
      width: 25.5px;
      height: 39px;
      float: left;
      margin-right: 5px;
      margin-top: -7px; }

.course-step__part {
  margin-top: 25px;
  margin-bottom: 30px; }
  .course-step__part h2 {
    font-size: 14px;
    font-size: 0.875rem;
    position: relative;
    font-weight: 500;
    margin-bottom: 10px; }
    .course-step__part h2:after {
      content: '*';
      color: #ff3d6e; }
    .course-step__part h2.not-important:after {
      display: none; }
  .course-step__part span {
    color: #2fb8e0;
    font-size: 12.5px;
    font-size: 0.78125rem;
    position: absolute;
    right: 0;
    top: 0; }
    .course-step__part span:after {
      content: '/30 Byte';
      color: #777; }
  .course-step__part [type="text"], .course-step__part select, .course-step__part textarea {
    background-color: #fff;
    margin-bottom: 10px;
    border: 1px solid #bbb;
    display: block;
    font-size: 13px;
    font-size: 0.8125rem;
    color: #777;
    width: 100%; }
  .course-step__part [type="text"], .course-step__part select {
    padding: 10px;
    height: 38px; }
  .course-step__part textarea {
    padding: 20px;
    min-height: 280px;
    color: #777;
    font-size: 13px;
    font-size: 0.8125rem;
    line-height: 1.5; }
  .course-step__part p {
    font-size: 12px;
    font-size: 0.75rem;
    line-height: 1.4;
    position: relative; }
  .course-step__part .w-img {
    text-align: center;
    margin-bottom: 10px; }
    .course-step__part .w-img a {
      display: inline-block;
      width: 289px;
      height: 168px; }
  .course-step__part .u-notice {
    background-color: #787878;
    color: #fff;
    font-size: 12.5px;
    font-size: 0.78125rem;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin: 0 auto;
    margin-top: -30px;
    width: -webkit-calc(100% - 20px);
    width: calc(100% - 20px);
    display: none; }
    .course-step__part .u-notice.is-show {
      display: block; }

.c-course-step--1 p a {
  font-size: 11px;
  font-size: 0.6875rem;
  padding: 8px 10px;
  position: absolute;
  right: 0;
  top: 0; }

.course-step--foot {
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%; }
  .course-step--foot .c1, .course-step--foot .c2 {
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    font-size: 1rem;
    font-weight: 400;
    color: #fff; }
    .course-step--foot .c1 img, .course-step--foot .c2 img {
      width: 6px;
      display: inline-block;
      margin-left: 5px;
      margin-top: 21px; }
    .course-step--foot .c1 .u-arrow-2, .course-step--foot .c2 .u-arrow-2 {
      margin-left: 0;
      margin-right: 5px; }
  .course-step--foot .c1 {
    width: 100%; }
    @media (min-width: 641px) {
      .course-step--foot .c1 {
        max-width: 320px; } }
  .course-step--foot .c2 {
    width: 50%; }
    @media (min-width: 641px) {
      .course-step--foot .c2 {
        max-width: 160px; } }

.c-course-step--3 > div {
  background-color: #FFF;
  padding: 10px;
  border-bottom: 1px solid #c0c0c0; }

.c-course-step--3 .u-change {
  display: block;
  float: right;
  margin-bottom: 10px;
  width: 75px;
  padding: 7px 10px;
  margin-top: -30px;
  font-size: 11px;
  font-size: 0.6875rem; }
  .c-course-step--3 .u-change:before {
    content: ' ';
    background-image: url(../img/i-change.png);
    background-size: 100%;
    width: 8px;
    height: 9px;
    display: inline-block;
    margin-right: 3px; }
    
.c-course-step__figure {
  margin-bottom: 20px;
  position: relative;
  min-height: 61px; }
  .c-course-step__figure > a img {
    width: 105px; }
  .c-course-step__figure > a, .c-course-step__figure > img {
    float: left; }
  .c-course-step__figure p {
    color: #666;
    font-size: 11px;
    font-size: 0.6875rem;
    text-align: left;
    font-weight: 300; }
  .c-course-step__figure figcaption {
    margin-left: 115px;
    position: relative; }
    .c-course-step__figure figcaption a {
      color: #ff3467;
      font-size: 11px;
      font-size: 0.6875rem;
      padding: 4px 8px;
      border: 1px solid #ff3467;
      position: absolute;
      right: 0;
      top: 0;
      -webkit-border-radius: 10.5px;
              border-radius: 10.5px;
      display: none; }
  .c-course-step__figure [type="file"] {
    display: none; }
  .c-course-step__figure label {
    width: 105px;
    height: 61px;
    position: absolute;
    left: 0;
    top: 0; }
  .c-course-step__figure .js-delete {
    content: ' ';
    background-image: url(../img/i-close.png);
    background-size: 100%;
    width: 18px;
    height: 19px;
    display: inline-block;
    position: absolute;
    left: 95px;
    top: -6px;
    display: none;
    z-index: 10; }
  .c-course-step__figure .js-play {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 105px;
    height: 100%;
    z-index: 8;
    display: none; }
    .c-course-step__figure .js-play:before {
      content: ' ';
      background-image: url(../img/i-play.png);
      background-size: 100%;
      width: 20px;
      height: 20px;
      display: inline-block;
      position: absolute;
      left: 4px;
      bottom: 4px; }
  .c-course-step__figure .u-video {
    display: none; }
  .c-course-step__figure.u-added .js-play,
  .c-course-step__figure.u-added .js-delete,
  .c-course-step__figure.u-added .u-video,
  .c-course-step__figure.u-added figcaption a {
    display: block; }
  .c-course-step__figure.u-added .js-take-image {
    display: none; }

.js-add-lecture {
  color: #ff3467 !important;
  text-align: center;
  font-size: 12.5px;
  font-size: 0.78125rem;
  padding: 14px 0;
  border-top: 1px solid #ccc;
  display: block;
  margin: 0 -10px -10px;
  position: relative; }
  .js-add-lecture:before {
    content: ' ';
    background-image: url(../img/i-plus-2.png);
    background-size: 100%;
    width: 14px;
    height: 14px;
    display: inline-block;
    margin-right: 4px;
    position: absolute;
    left: 50%;
    margin-left: -40px;
    top: 13px; }

.js-add-chapter {
  width: 120px;
  height: 34px;
  line-height: 33px;
  font-size: 12px;
  font-size: 0.75rem;
  -webkit-border-radius: 17px;
          border-radius: 17px;
  margin: -10px auto 30px;
  display: block; }
  .js-add-chapter:before {
    content: ' ';
    background-image: url(../img/i-plus-3.png);
    background-size: 100%;
    width: 9.5px;
    height: 9.5px;
    display: inline-block;
    margin-right: 4px; }

.c-course-step--3 .chapter-name {
  border: 1px solid #fff;
  border-bottom: 1px solid #c0c0c0;
  height: 50px;
  line-height: 48px;
  font-weight: 500; }

.c-course-step--3 .lecture-name {
  position: relative; }

.c-course-step--3 .lecture-name [type="text"] {
  border: 1px solid #bbb;
  height: 32px;
  line-height: 30px;
  margin-left: 30px;
  width: -webkit-calc(100% - 30px);
  width: calc(100% - 30px);
  border: 1px solid #bbb; }

.c-course-step--3 .lecture-name:before {
  content: ' ';
  background-image: url(../img/i-l.png);
  background-size: 100%;
  width: 10px;
  height: 10px;
  position: absolute;
  left: 10px;
  top: 10px; }

.c-course-step--4 {
  position: relative; }
  .c-course-step--4 .u-link-4 {
    position: absolute;
    right: 15px;
    top: -10px;
    padding: 7px 15px;
    font-size: 11px; }
    @media (min-width: 641px) {
      .c-course-step--4 .u-link-4 {
        right: 20px; } }
    @media (min-width: 961px) {
      .c-course-step--4 .u-link-4 {
        right: 45px; } }
  .c-course-step--4 .c-radio-wrap {
    position: relative;
    padding-left: 4px; }
    .c-course-step--4 .c-radio-wrap [type="text"] {
      padding-right: 30px; }
    .c-course-step--4 .c-radio-wrap span {
      color: #777;
      right: 10px;
      top: 2px; }
    .c-course-step--4 .c-radio-wrap span:after {
      display: none; }

.c-course--reorder h2, .c-course--reorder .sotable-title {
  font-size: 16px;
  font-size: 1rem;
  padding: 18px 0;
  font-weight: 400;
  border-bottom: 1px solid #666666;
  font-weight: 500; }

.c-course--reorder li {
  font-size: 12.5px;
  font-size: 0.78125rem;
  padding: 15px 0;
  font-weight: 400;
  border-bottom: 1px solid #dedede;
  position: relative; }

.c-course--reorder [type="checkbox"] {
  position: absolute;
  right: 15px;
  top: 15px; }
  @media (min-width: 641px) {
    .c-course--reorder [type="checkbox"] {
      right: 20px; } }
  @media (min-width: 961px) {
    .c-course--reorder [type="checkbox"] {
      right: 45px; } }

.c-course--reorder h2, .c-course--reorder li, .c-course--reorder .sotable-title {
  margin: 0 -15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-right: 20px;
  padding-right: 45px; }
  @media (min-width: 641px) {
    .c-course--reorder h2, .c-course--reorder li, .c-course--reorder .sotable-title {
      margin: 0 -20px;
      padding-left: 20px; } }
  @media (min-width: 961px) {
    .c-course--reorder h2, .c-course--reorder li, .c-course--reorder .sotable-title {
      margin: 0 -45px;
      padding-left: 45px; } }

.c-course--reorder p {
  width: 283px;
  height: 82px;
  color: #fff;
  background-image: url("../img/guide-layer.png");
  padding-top: 28px;
  padding-left: 18px;
  line-height: 1.2;
  margin: 30px auto;
  font-size: 13.5px;
  font-size: 0.84375rem;
  cursor: pointer; }

.js-reorder li {
  cursor: pointer; }

.js-reorder li:after {
  content: ' ';
  background-image: url(../img/i-hamberger.png);
  background-size: 100%;
  width: 16px;
  height: 9.5px;
  display: inline-block;
  position: absolute;
  right: 15px;
  top: 15px; }
  @media (min-width: 641px) {
    .js-reorder li:after {
      right: 20px; } }
  @media (min-width: 961px) {
    .js-reorder li:after {
      right: 45px; } }

.js-reorder .sotable-title:after {
  display: none; }

.u-step-4 {
  border-color: #ddd; }

.test-1 {
  position: fixed;
  width: 300px;
  height: 200px;
  background-color: red;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1000000; }

/* c-qna */
.c-notification {
  font-size: 16px;
  font-size: 1rem;
  color: #fff;
  right: 15px;
  position: absolute;
  top: 0;
  font-weight: 400; }
  @media (min-width: 641px) {
    .c-notification {
      right: 20px; } }
  @media (min-width: 961px) {
    .c-notification {
      right: 45px; } }

.c-qna--list {
  padding-top: 10px;
  background-color: #FFF; }

.u-no-link.c-qna__item .l-wrap:after {
  display: none; }

.c-qna__item {
  padding: 18px 0;
  border-bottom: 1px solid #dedede; }
  @media (min-width: 961px) {
    .c-qna__item {
      max-width: 1130px;
      width: 100%;
      margin: 0 auto; } }
  .c-qna__item .l-wrap {
    position: relative;
    padding-left: 65px; }
    .c-qna__item .l-wrap:after {
      position: absolute;
      right: 15px;
      top: 4px;
      width: 6px;
      height: 10px;
      background-image: url("../img/i-arrow-qna-1.png");
      background-size: 100%;
      content: ' ';
      display: inline-block; }
      @media (min-width: 641px) {
        .c-qna__item .l-wrap:after {
          right: 20px; } }
      @media (min-width: 961px) {
        .c-qna__item .l-wrap:after {
          right: 45px; } }
    @media (min-width: 641px) {
      .c-qna__item .l-wrap {
        padding-left: 70px; } }
    @media (min-width: 961px) {
      .c-qna__item .l-wrap {
        padding-left: 95px; }
        .c-qna__item .l-wrap:after {
          display: none; } }

.c-qna__link figure > img {
  width: 38px;
  height: 38px;
  position: absolute;
  left: 15px;
  top: 0; }
  @media (min-width: 641px) {
    .c-qna__link figure > img {
      left: 20px; } }
  @media (min-width: 961px) {
    .c-qna__link figure > img {
      left: 45px; } }

.c-qna__link > img {
  width: 38px;
  height: 38px;
  position: absolute;
  left: 15px;
  top: 0; }
  @media (min-width: 641px) {
    .c-qna__link > img {
      left: 20px; } }
  @media (min-width: 961px) {
    .c-qna__link > img {
      left: 45px; } }
  @media (min-width: 961px) {
    .c-qna__link > img {
      width: 40px;
      height: 40px; } }

.c-qna__link p {
  font-size: 12.5px;
  font-size: 0.78125rem;
  line-height: 1.5;
  margin-bottom: 6px;
  padding-right: 10px; }
  @media (min-width: 961px) {
    .c-qna__link p {
      font-size: 16px;
      font-size: 1rem;
      line-height: 1;
      padding: 10px 0;
      width: 48%; } }

.c-qna__link h2 {
  font-size: 12px;
  font-size: 0.75rem;
  margin-bottom: 8px;
  font-weight: 400; }
  @media (min-width: 961px) {
    .c-qna__link h2 {
      font-size: 16px;
      font-size: 1rem; } }

.c-qna__link h3 {
  font-size: 12px;
  font-size: 0.75rem;
  color: #666;
  margin-bottom: 8px;
  font-weight: 400; }
  @media (min-width: 961px) {
    .c-qna__link h3 {
      font-size: 14px;
      font-size: 0.875rem;
      position: absolute;
      left: 58%;
      line-height: 40px;
      top: 0; } }

.c-qna__link .a-reply {
  font-size: 11px;
  font-size: 0.6875rem; }

.cs-1.c-qna__info {
  height: auto; }

.c-qna__info {
  margin-top: 10px;
  height: 20px;
  line-height: 20px;
  position: relative; }
  @media (min-width: 961px) {
    .c-qna__info {
      position: absolute;
      right: 15px;
      top: 0;
      width: 250px; } }
  @media (min-width: 961px) and (min-width: 641px) {
    .c-qna__info {
      right: 20px; } }
  @media (min-width: 961px) and (min-width: 961px) {
    .c-qna__info {
      right: 45px; } }
  .c-qna__info .c-qna__time,
  .c-qna__info .c-hits {
    font-size: 11px;
    font-size: 0.6875rem;
    color: #888; }
    @media (min-width: 961px) {
      .c-qna__info .c-qna__time,
      .c-qna__info .c-hits {
        font-size: 13px;
        font-size: 0.8125rem; } }
  .c-qna__info .c-qna__time:before {
    width: 11.5px;
    height: 11.5px;
    background-image: url("../img/i-clock.png");
    background-size: 100%;
    content: ' ';
    display: inline-block;
    margin-right: 6px; }
  .c-qna__info .c-hits:before {
    width: 12px;
    height: 7px;
    background-image: url("../img/i-hits.png");
    background-size: 100%;
    content: ' ';
    display: inline-block;
    margin-right: 4px; }
  .c-qna__info .c-qna__like:before {
    width: 13px;
    height: 11px;
    background-image: url("../img/i-heart.png");
    background-size: 100%;
    content: ' ';
    display: inline-block;
    margin-right: 6px; }
  .c-qna__info .c-qna__reply:before {
    width: 14.5px;
    height: 12px;
    background-image: url("../img/i-reply.png");
    background-size: 100%;
    content: ' ';
    display: inline-block;
    margin-right: 6px; }
  .c-qna__info .a-modify:before {
    width: 11px;
    height: 11px;
    background-image: url("../img/i-modify.png");
    background-size: 100%;
    content: ' ';
    display: inline-block;
    margin-right: 3px; }
  .c-qna__info .a-delete:before {
    width: 11px;
    height: 10.5px;
    background-image: url("../img/i-delete.png");
    background-size: 100%;
    content: ' ';
    display: inline-block;
    margin-right: 3px; }
  .c-qna__info .c-qna__like,
  .c-qna__info .c-qna__reply {
    font-size: 12px;
    font-size: 0.75rem;
    color: #555;
    position: absolute;
    top: 0;
    right: 55px; }
    @media (min-width: 961px) {
      .c-qna__info .c-qna__like,
      .c-qna__info .c-qna__reply {
        font-size: 14px;
        font-size: 0.875rem; } }
  .c-qna__info .a-modify,
  .c-qna__info .a-delete {
    font-size: 11px;
    font-size: 0.6875rem;
    color: #222;
    position: absolute;
    top: 0;
    right: 45px; }
  .c-qna__info .c-qna__reply,
  .c-qna__info .a-delete {
    right: 0; }
  .c-qna__info .a-add-reply {
    font-size: 11px;
    font-size: 0.6875rem;
    color: #000;
    border: 1px solid #4c4c4c;
    padding: 2px 0;
    width: 55px;
    display: block;
    text-align: center;
    margin-top: 10px; }
    @media (min-width: 961px) {
      .c-qna__info .a-add-reply {
        position: absolute;
        right: 0;
        top: -3px;
        margin-top: 0; } }

.c-reply__write-2 {
  margin-top: 20px;
  position: relative; }
  .c-reply__write-2:before {
    position: absolute;
    left: -20px;
    top: 5px;
    width: 10px;
    height: 10px;
    background-image: url("../img/i-qna-l.png");
    background-size: 100%;
    content: ' ';
    display: inline-block; }

.c-reply__item {
  padding-top: 18px; }
  .c-reply__item > div {
    border-bottom: 1px solid #cecece;
    padding-bottom: 18px;
    position: relative; }
    .c-reply__item > div:before {
      position: absolute;
      left: 30px;
      top: 5px;
      width: 10px;
      height: 10px;
      background-image: url("../img/i-qna-l.png");
      background-size: 100%;
      content: ' ';
      display: inline-block; }
  .c-reply__item .c-qna__info {
    padding-left: 50px; }
    @media (min-width: 961px) {
      .c-reply__item .c-qna__info {
        padding-left: 0;
        right: 0; } }

.c-reply__write > div,
.c-reply__write-2 > div {
  padding-left: 50px; }

.c-reply__write textarea,
.c-reply__write-2 textarea {
  border: 1px solid #c4c4c4;
  border-bottom-width: 1px;
  width: 100%;
  padding: 10px;
  min-height: 75px; }

.c-reply__write .c-reply__info,
.c-reply__write-2 .c-reply__info {
  background-color: #FFF;
  height: 32px;
  border: 1px solid #c4c4c4;
  border-top: none;
  width: 100%;
  position: relative; }
  .c-reply__write .c-reply__info > span,
  .c-reply__write-2 .c-reply__info > span {
    padding-left: 10px; }
  .c-reply__write .c-reply__info > *,
  .c-reply__write-2 .c-reply__info > * {
    line-height: 31px;
    height: 31px; }
  .c-reply__write .c-reply__info a,
  .c-reply__write-2 .c-reply__info a {
    width: 55px;
    display: inline-block;
    text-align: center;
    position: absolute; }
  .c-reply__write .c-reply__info .a-confirm,
  .c-reply__write-2 .c-reply__info .a-confirm {
    right: 0; }
  .c-reply__write .c-reply__info .a-cancel,
  .c-reply__write-2 .c-reply__info .a-cancel {
    right: 55px;
    border-left: 1px solid #c4c4c4; }

.c-reply__link {
  position: relative;
  padding-left: 50px; }
  .c-reply__link img {
    width: 23px;
    height: 23px; }
  .c-reply__link h2 {
    font-size: 12px;
    font-size: 0.75rem;
    position: absolute;
    left: 85px;
    top: 5px; }
  .c-reply__link p {
    font-size: 12.5px;
    font-size: 0.78125rem;
    line-height: 1.5;
    margin-top: 10px; }

.c-reply__write .a-cancel,
.c-reply__write-2 .a-cancel {
  font-size: 12.5px;
  font-size: 0.78125rem;
  color: #555; }

.c-reply__write .a-confirm,
.c-reply__write-2 .a-confirm {
  font-size: 12.5px;
  font-size: 0.78125rem;
  color: #fff;
  background-color: #2fb8e0; }

.c-reply__write textarea,
.c-reply__write-2 textarea {
  font-size: 13px;
  font-size: 0.8125rem;
  color: #888; }

.c-reply__write span,
.c-reply__write-2 span {
  font-size: 11.5px;
  font-size: 0.71875rem;
  color: #2fb8e0; }
  .c-reply__write span span,
  .c-reply__write-2 span span {
    color: #888; }

.u-reply-foot {
  padding-bottom: 65px; }

.c-reply-foot {
  padding-top: 6px;
  padding-bottom: 6px;
  position: fixed;
  left: 0;
  bottom: 0;
  border-top: 1px solid #bbb;
  background-color: #f0f0f0; }
  .c-reply-foot a {
    font-size: 12.5px;
    font-size: 0.78125rem;
    color: #fff;
    background-color: #2fb8e0;
    display: inline-block;
    width: 55px;
    height: 33px;
    line-height: 33px;
    text-align: center;
    margin-left: 5px;
    -webkit-border-radius: 5px;
            border-radius: 5px; }
  .c-reply-foot [type="text"] {
    font-size: 13px;
    font-size: 0.8125rem;
    color: #888;
    border: 1px solid #bbb;
    height: 33px;
    line-height: 33px;
    width: -webkit-calc(100% - 60px);
    width: calc(100% - 60px);
    -webkit-border-radius: 5px;
            border-radius: 5px;
    padding-left: 5px; }

.p-write {
  padding-top: 20px;
  padding-bottom: 20px; }
  .p-write textarea {
    border: none;
    font-size: 12.5px;
    font-size: 0.78125rem;
    color: #000;
    line-height: 1.5;
    width: 100%; }

/* .c-view */
.c-view {
  padding-top: 30px; }
  .c-view h2 {
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: 20px; }
  .c-view p {
    font-size: 12.5px;
    font-size: 0.78125rem; }
    @media (min-width: 961px) {
      .c-view p {
        line-height: 40px; } }
  .c-view img {
    width: 35px;
    position: absolute;
    left: 0;
    top: 0; }
  .c-view figure {
    position: relative;
    padding-left: 45px;
    min-height: 35px; }
  .c-view .c-hits {
    display: block; }
  @media (min-width: 961px) {
    .c-view .c-qna__info {
      margin-top: 0;
      width: 280px; } }
  .c-view .a-modify {
    right: 60px; }
  .c-view .a-delete,
  .c-view .a-modify {
    font-size: 13px;
    font-size: 0.8125rem;
    color: #888;
    border: 1px solid #c9c9c9;
    padding: 3px;
    width: 55px;
    text-align: center; }
  .c-view article {
    font-size: 12.5px;
    font-size: 0.78125rem;
    line-height: 1.5;
    padding-top: 25px;
    border-top: 1px solid #bbb;
    margin-top: 25px; }

.c-view-foot {
  position: fixed;
  left: 0;
  bottom: 0;
  border-top: 1px solid #c9c9c9;
  height: 40px;
  line-height: 40px;
  width: 100%; }
  .c-view-foot a {
    font-size: 15px;
    font-size: 0.9375rem;
    width: 50%;
    display: inline-block;
    text-align: center; }
    .c-view-foot a:nth-child(1) {
      border-right: 1px solid #c9c9c9; }
      .c-view-foot a:nth-child(1):before {
        width: 18.5px;
        height: 15px;
        background-image: url("../img/i-heart-2.png");
        background-size: 100%;
        content: ' ';
        display: inline-block;
        margin-right: 4px; }
    .c-view-foot a:nth-child(2):before {
      width: 18.5px;
      height: 15px;
      background-image: url("../img/i-reply-2.png");
      background-size: 100%;
      content: ' ';
      display: inline-block;
      margin-right: 4px; }

/* .c-student--list */
.c-student--list {
  padding-top: 18px;
  padding-bottom: 18px;
  overflow: hidden; }
  .c-student--list li {
    float: left;
    text-align: center;
    margin-bottom: 15px;
    display: inline-block;
    width: 33.3%; }
    @media (min-width: 641px) {
      .c-student--list li {
        width: 16.6%; } }
    @media (min-width: 961px) {
      .c-student--list li {
        width: 14.2%; } }
  .c-student--list p {
    font-size: 12.5px;
    font-size: 0.78125rem;
    margin: 0 auto;
    margin-top: 10px;
    line-height: 1.5; }
    @media (min-width: 961px) {
      .c-student--list p {
        font-size: 16px;
        font-size: 1rem; } }
  .c-student--list img, .c-student--list p {
    width: 50px; }
    @media (min-width: 641px) {
      .c-student--list img, .c-student--list p {
        width: 74px; } }

/* .c-no-result */
.c-no-result {
  text-align: center;
  padding: 100px 0; }
  .c-no-result img {
    width: 56px;
    height: 55px; }
  .c-no-result p {
    font-size: 13.5px;
    font-size: 0.84375rem;
    color: #333;
    margin-top: 10px; }

/* .c-chart--list */
.c-chart--list {
  background-color: #464646;
  padding-top: 15px;
  padding-bottom: 15px; }
  @media (min-width: 961px) {
    .c-chart--list {
      padding-top: 30px;
      padding-bottom: 30px; } }
  .c-chart--list img {
    width: 100%;
    -webkit-border-radius: 3px;
            border-radius: 3px; }
  .c-chart--list ul {
    overflow: hidden; }
  .c-chart--list li {
    float: left;
    width: 120px;
    margin-right: 10px; }
    @media (min-width: 961px) {
      .c-chart--list li {
        width: 205px; } }
  .c-chart--list p {
    font-size: 12px;
    font-size: 0.75rem;
    color: #fff;
    line-height: 1.4;
    margin-top: 8px; }
    @media (min-width: 961px) {
      .c-chart--list p {
        font-size: 16px;
        font-size: 1rem; } }
  .c-chart--list div {
    position: relative; }
  .c-chart--list a:hover div:before {
    position: absolute;
    border: 2.5px solid #fcff10;
    width: 100%;
    height: 100%;
    content: ' '; }
    @media (min-width: 961px) {
      .c-chart--list a:hover div:before {
        border-width: 5px; } }

.c-chart__title {
  font-size: 16px;
  font-size: 1rem;
  font-weight: 400; }
  @media (min-width: 961px) {
    .c-chart__title {
      font-size: 22px;
      font-size: 1.375rem; } }
  .c-chart__title span {
    font-size: 14px;
    font-size: 0.875rem;
    padding-left: 5px;
    line-height: 1.2; }
    @media (min-width: 961px) {
      .c-chart__title span {
        font-size: 18px;
        font-size: 1.125rem; } }

.c-chart__section {
  background-color: #FFF;
  padding-top: 25px;
  border-bottom: 1px solid #c9c9c9;
  margin-bottom: 20px; }
  .c-chart__section .a-show-all.cs-1 {
    border-top: 1px solid #dedede; }
  .c-chart__section .a-show-all {
    font-size: 11.5px;
    font-size: 0.71875rem;
    padding: 15px 0;
    text-align: center;
    display: block; }
    .c-chart__section .a-show-all img {
      width: 3.5px;
      height: 5.5px;
      display: inline-block;
      margin-left: 4px;
      margin-top: 2px; }
      @media (min-width: 961px) {
        .c-chart__section .a-show-all img {
          width: 7px;
          height: 11px;
          margin-left: 4px;
          margin-top: 3px; } }
    @media (min-width: 961px) {
      .c-chart__section .a-show-all {
        font-size: 16px;
        font-size: 1rem;
        padding: 20px 0; } }

.c-star-box--s {
  margin-bottom: 2px; }
  .c-star-box--s img {
    width: 12px;
    margin-right: 2px; }

    
    
    /**
    jw-player
    **/
.jw-player {
	margin:10px auto;
	max-width: 480px;
	max-height: 270px;
}