/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
html {font-family:'맑은 고딕','malgun gothic',sans-serif; -ms-text-size-adjust:100%; -webkit-text-size-adjust:100%;}
body {margin:0;}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {display:block;}
audio, canvas, progress, video {display:inline-block; vertical-align:baseline;}
audio:not([controls]) {display:none; height:0;}
[hidden], template {display:none;}
a {text-decoration:none; background:transparent;}
a:active, a:hover {outline:0;}
a:hover, a:focus {text-decoration:underline;}
a:focus {outline:thin dotted; outline:5px auto -webkit-focus-ring-color; outline-offset:-2px;}
abbr[title] {border-bottom:1px dotted;}
b, strong {font-weight:bold;}
dfn {font-style:italic;}
h1 {font-size:2em; margin:0.67em 0;}
mark {background:#ff0; color:#000;}
small {font-size:80%;}
sub, sup {font-size:75%; line-height:0; position:relative; vertical-align:baseline;}
sup {top:-0.5em;}
sub {bottom:-0.25em;}
img {border:0;}
svg:not(:root) {overflow:hidden;}
figure {margin:1em 40px;}
hr {-moz-box-sizing:content-box; box-sizing:content-box; height:0;}
pre {overflow:auto;}
code, kbd, pre, samp {font-family:monospace, monospace; font-size:1em;}
button, input, optgroup, select, textarea {color:inherit; font:inherit; margin:0;}
button {overflow:visible;}
button, select {text-transform:none;}
button, html input[type="button"], input[type="reset"], input[type="submit"] {-webkit-appearance:button; cursor:pointer;}
button[disabled], html input[disabled] {cursor:default;}
button::-moz-focus-inner, input::-moz-focus-inner {border:0; padding:0;}
input {line-height:normal;}
input[type="checkbox"], input[type="radio"] {box-sizing:border-box; padding:0;}
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {height:auto;}
input[type="search"] {-webkit-appearance:textfield; -moz-box-sizing:content-box; -webkit-box-sizing:content-box; box-sizing:content-box;}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {-webkit-appearance:none;}
fieldset {border:1px solid #c0c0c0; margin:0 2px; padding:0.35em 0.625em 0.75em;}
legend {border:0; padding:0;}
textarea {overflow:auto;}
optgroup {font-weight:bold;}
table {border-collapse:collapse; border-spacing:0;}
td, th {padding:0; text-align:left;}
ul,ol {list-style:none; margin:0; padding:0;}

.row {zoom:1;}
.row:after {content:""; display:block; clear:both;}
.col {float:left;}
.col-12 {width:100%;}
.col-11 {width:91.66666667%;}
.col-10 {width:83.33333333%;}
.col-9 {width:75%;}
.col-8 {width:66.66666667%;}
.col-7 {width:58.33333333%;}
.col-6 {width:50%;}
.col-5 {width:41.66666667%;}
.col-4 {width:33.33333333%;}
.col-3 {width:25%;}
.col-2 {width:16.66666667%;}
.col-1 {width:8.33333333%;}

.text-left {text-align:left !important;}
.text-center {text-align:center !important;}
.text-right {text-align:right !important;}

.text-sm {font-size:12px;}

.pull-left {float:left;}
.pull-right {float:right;}

.mt10 {margin-top:10px;}
.mb10 {margin-bottom:10px;}
.mb20 {margin-bottom:20px;}

.img-responsive,
.img-responsive img {display:block; width:100% \9; max-width:100%; height:auto;}

.btn {display:inline-block; padding:5px 12px; margin-bottom:0; font-size:12px; font-weight:normal; line-height:1.42857143; text-align:center; white-space:nowrap; vertical-align:middle; cursor:pointer; -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; user-select:none; background-image:none; border:1px solid transparent; border-radius:3px;}
.btn:focus,
.btn:active:focus,
.btn.active:focus {outline:thin dotted; outline:5px auto -webkit-focus-ring-color; outline-offset:-2px;}
.btn:hover,
.btn:focus {color:#333; text-decoration:none;}
.btn:active,
.btn.active {background-image:none; outline:0; -webkit-box-shadow:inset 0 3px 5px rgba(0, 0, 0, .125); box-shadow:inset 0 3px 5px rgba(0, 0, 0, .125);}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {pointer-events:none; cursor:not-allowed; filter:alpha(opacity=65); -webkit-box-shadow:none; box-shadow:none; opacity:.65;}

.btn-default {color:#333; background-color:#fff; border-color:#ccc;}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active {color:#333; background-color:#ebebeb; border-color:#adadad;}
.btn-default:active,
.btn-default.active {background-image:none;}

.btn-primary {color:#fff; background-color:#428bca; border-color:#357ebd;}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {color:#fff; background-color:#3071a9; border-color:#285e8e;}
.btn-primary:active,
.btn-primary.active {background-image:none;}

.btn-success {color:#fff; background-color:#5cb85c; border-color:#4cae4c;}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active {color:#fff; background-color:#449d44; border-color:#398439;}
.btn-success:active,
.btn-success.active {background-image:none;}

.btn-info {color:#fff; background-color:#5bc0de; border-color:#46b8da;}
.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active {color:#fff; background-color:#31b0d5; border-color:#269abc;}
.btn-info:active,
.btn-info.active {background-image:none;}

.btn-warning {color:#fff; background-color:#f0ad4e; border-color:#eea236;}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active {color:#fff; background-color:#ec971f; border-color:#d58512;}
.btn-warning:active,
.btn-warning.active {background-image:none;}

.btn-danger {color:#fff; background-color:#d9534f; border-color:#d43f3a;}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active {color:#fff; background-color:#c9302c; border-color:#ac2925;}
.btn-danger:active,
.btn-danger.active {background-image:none;}

.btn-link {font-weight:normal; color:#428bca; cursor:pointer; border-radius:0;}
.btn-link,
.btn-link:active,
.btn-link[disabled],
fieldset[disabled] .btn-link {background-color:transparent; -webkit-box-shadow:none; box-shadow: none;}
.btn-link,
.btn-link:hover,
.btn-link:focus,
.btn-link:active {border-color:transparent;}
.btn-link:hover,
.btn-link:focus {color:#2a6496; text-decoration:underline; background-color:transparent;}

.btn-lg {padding:10px 16px; font-size:18px; line-height:1.33; border-radius:3px;}
.btn-sm {padding:2px 6px; font-size:12px; line-height:1.5; border-radius:2px;}
.btn-xs {padding:1px 5px; font-size:11px; line-height:1.5; border-radius:2px;}
.btn-block {display:block; width:100%; padding-right:0; padding-left:0;}

.modal-backdrop {display:none; position: fixed; top:0; left:0; width:100%; height:100%; background:#000; z-index:999; -webkit-transition:all .2s ease-in-out; transition:all .2s ease-in-out; opacity:.60; filter:alpha(opacity=60);}
.modal-open {overflow:hidden;}
.modal {display:none; position:fixed; top:0; right:0; bottom:0; left:0; z-index:1000; overflow:auto; -webkit-overflow-scrolling:touch; outline:0; -webkit-transition:all .2s ease-in-out; transition:all .2s ease-in-out;}
.modal .modal-close {position:absolute; top:0; right:0; width:38px; height:38px; overflow:hidden; text-indent:-9999em; border:0; background:#555 url(http://img.hunet.co.kr/study/window/default/icon/icon_modal-close.png) no-repeat center center;}
.modal .modal-close:hover {background-color:#666;}
.modal-dialog {position:relative; width:auto; margin:20px; margin-top:20px;}
.modal-content {position:relative; margin:0 auto; padding:30px; color:#555; border:1px solid #555; background-color:#fff; outline:none; -webkit-box-shadow:0 3px 9px rgba(0, 0, 0, .5); box-shadow:0 3px 9px rgba(0, 0, 0, .5);}
.modal-content .header {margin-bottom:20px;}
.modal-content .header h4 {margin:0; font-size:18px; color:#252525; font-weight:bold;}
.modal-content .footer {text-align:center;}
@media (min-width: 768px) {
	.modal-dialog {width:600px; margin:30px auto;}
	.modal-sm {width:300px;}
}
@media (min-width: 992px) {
	.modal-lg {width:900px;}
}

.popup {padding:20px;}
.popup .popup-close {position:absolute; top:0; right:0; width:38px; height:38px; overflow:hidden; text-indent:-9999em; border:0; background:#555 url(http://img.hunet.co.kr/study/window/default/icon/icon_modal-close.png) no-repeat center center;}
.popup .header {margin-bottom:20px;}
.popup .header h4 {margin:0; font-size:18px; color:#252525; font-weight:bold;}
.popup .footer {text-align:center;}

.dropdown {position:absolute; z-index:111; display:none;}
.dropdown .dropdown-menu,
.dropdown .dropdown-panel {
min-width:60px;
list-style:none;
background:#fff;
border:solid 1px #ddd;
border:solid 1px rgba(0, 0, 0, .2);
border-radius:6px;
box-shadow:0 5px 10px rgba(0, 0, 0, .2);
overflow:visible;
padding:4px 0;
margin:0;
}

.dropdown .dropdown-panel {
padding: 10px;
}

.dropdown.dropdown-tip {
margin-top: 8px;
}

.dropdown.dropdown-tip:before {
position: absolute;
top: -6px;
left: 9px;
content: '';
border-left: 7px solid transparent;
border-right: 7px solid transparent;
border-bottom: 7px solid #CCC;
border-bottom-color: rgba(0, 0, 0, 0.2);
display: inline-block;
}

.dropdown.dropdown-tip.dropdown-anchor-right:before {
left: auto;
right: 9px;
}

.dropdown.dropdown-tip:after {
position: absolute;
top: -5px;
left: 10px;
content: '';
border-left: 6px solid transparent;
border-right: 6px solid transparent;
border-bottom: 6px solid #FFF;
display: inline-block;
}

.dropdown.dropdown-tip.dropdown-anchor-right:after {
left: auto;
right: 10px;
}


.dropdown.dropdown-scroll .dropdown-menu,
.dropdown.dropdown-scroll .dropdown-panel {
max-height: 358px;
overflow: auto;
}

.dropdown .dropdown-menu li {
list-style:none;
padding:0;
margin:0;
line-height:18px;
font-size:13px;
}

.dropdown .dropdown-menu li > a,
.dropdown .dropdown-menu label {
display:block;
color:#555;
text-decoration:none;
line-height:18px;
padding:3px 15px;
margin:0;
white-space:nowrap;
overflow:hidden;
text-overflow:ellipsis;
}

.dropdown .dropdown-menu li > a:hover,
.dropdown .dropdown-menu label:hover {background-color:#edf2f3; cursor:pointer;}

.dropdown .dropdown-menu .dropdown-divider {
font-size: 1px;
border-top: solid 1px #E5E5E5;
padding: 0;
margin: 5px 0;
}



.list-group {padding-left:0; margin-bottom:20px; font-size:12px;}
.list-group-item {position:relative; display:block; padding:10px 15px; margin-bottom:-1px; background-color:#fff; border:1px solid #ddd;}
.list-group-item .offset-right {position:absolute; right:10px; top:7px;}
a.list-group-item {color:#555;}
a.list-group-item .list-group-item-heading {color:#333;}
a.list-group-item:hover,
a.list-group-item:focus {color:#555; text-decoration:none; background-color:#f5f5f5;}
.list-group-sortable .list-group-item .pull-left {padding:0 10px 0 7px; width:24px; text-align:right; background:url(../img/icon.png) no-repeat 0 4px;}




body {background:#f2f4f8;}

#header {position:fixed; top:0; left:0; width:100%; height:60px; background:#fff; box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.05), 0px 1px 0px rgba(0, 0, 0, 0.05);}
#header .brand {float:left; padding:12px 0 0 15px;}
#nav {float:right;}
#nav a {display:block; color:#666;}
#nav > ul > li {position:relative; float:left; border-left:1px solid #ddd;}
#nav > ul > li > a {height:60px; line-height:60px; padding:0 20px; font-size:14px;}
#nav > ul > li > ul {display:none; position:absolute; top:60px; right:0; width:150px; max-height:200px; overflow:auto; overflow-x:hidden; background:#fff; box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.05), 0px 1px 0px rgba(0, 0, 0, 0.05); border:1px solid #ddd;}
#nav > ul > li > ul > li > a {padding:5px 10px; font-size:12px;}


#container {padding:60px 0 0 220px;}

#sidebar {position:fixed; top:60px; left:0; width:220px; height:100%; background:#12131a;}
#sidebar h3 {margin:0; padding:20px 10px; font-size:16px; color:#fff;}
#sidebar .nav {font-size:14px;}
#sidebar .nav a {display:block; padding:10px 10px; color:#8287a9; background-repeat:no-repeat; background-image:url();}
#sidebar .nav a:hover,
#sidebar .nav .active > a {color:#fff;}
#sidebar .nav li li a {padding:5px 10px 5px 20px;}
#sidebar .nav li li li a {padding:5px 10px 5px 30px;}
#sidebar .nav li ul {display:none;}
#sidebar .nav > ul > li > a {font-weight:bold;}
#sidebar .nav > ul > .active > a {background-color:#da0910;}
#sidebar .nav a:hover .icon-cir,
#sidebar .nav .active > a > .icon-cir {background-color:#fff;}
#sidebar .nav .active > a > .icon-hassub {border-color:#666; background:#666;}
#sidebar .nav .active > ul {display:block;}


#sidebar .icon-cir {display:inline-block; width:3px; height:3px; margin-right:5px; background-color:#666; border-radius:3px; vertical-align:middle;}
#sidebar .icon-hassub {float:right; display:inline-block; width:8px; height:8px; margin-top:5px; border:2px solid #666; border-radius:10px;}




#content {padding:15px;}

.breadcrumb {padding:8px 15px; margin-bottom:20px; list-style:none; font-size:12px; border:1px solid #ddd; background-color:#fff; border-radius:3px;}
.breadcrumb > li {display:inline-block; *display:inline;}
.breadcrumb > li + li:before {padding:0 5px; color:#ccc; content:"/\00a0";}
.breadcrumb > .active {color:#777;}
.breadcrumb a {color:#999;}

.page-header {margin:20px 0 20px 0; zoom:1;}
.page-header:after {content:""; display:block; clear:both;}

h1,h2,h3,h4,h5,h6 {font-family:inherit; font-weight:500; line-height:1.1; color:inherit;}
h1 small,h2 small,h3 small,h4 small,h5 small,h6 small {font-weight:normal; line-height:1; color:#777;}
h1,h2,h3 {margin-top:0; margin-bottom:10px; letter-spacing:-1px;}
h1 small,h2 small,h3 small {font-size:50%; letter-spacing:-1px;}
h4,h5,h6 {margin-top:0; margin-bottom:10px;}
h4 small,h5 small,h6 small {font-size:75%;}
h1 {font-size:30px;}
h2 {font-size:26px;}
h3 {font-size:22px;}
h4 {font-size:18px;}
h5 {font-size:14px;}
h6 {font-size:12px;}



.tabs {margin-bottom:15px; border-bottom:1px solid #ddd; zoom:1;}
.tabs:after {content:""; display:block; clear:both;}
.tabs li {float:left; margin-left:2px;}
.tabs li:first-child {margin-left:0;}
.tabs a {display:block; height:34px; line-height:34px; padding:0 15px; font-size:14px; color:#444; border:1px solid transparent; border-bottom:0; border-top-left-radius:3px; border-top-right-radius:3px; text-decoration:none; outline:none;}
.tabs .active a {color:#fff; border-color:#444 !important; background-color:#444;}
.tabs a:hover {border-color:#ddd;}

.table {width:100%; max-width:100%; margin-bottom:20px;}
.table td,
.table th {text-align:center; font-size:12px; background-color:#fff; word-break:break-all;}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {padding:8px; line-height:1.42857143; border-top:1px solid #ddd;}
.table > thead > tr > th {border-bottom:2px solid #ddd; background-color:#f0f0f0;}
.table > tbody > tr > th {background-color:#f0f0f0;}
.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {border-top:0;}
.table > tbody + tbody {border-top:2px solid #ddd;}
.table .table {background-color:#fff;}

.table-bordered {border:1px solid #ddd;}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {border:1px solid #ddd;}
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {border-bottom-width:2px;}
.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {background-color:#f9f9f9;}




.well {min-height:20px; padding:19px; margin-bottom:20px; background-color:#f5f5f5; border:1px solid #e3e3e3; border-radius:3px; -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05); box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);}
.well blockquote {border-color:#ddd; border-color:rgba(0, 0, 0, .15);}
.well-lg {padding:24px; border-radius:3px;}
.well-sm {padding:9px; border-radius:3px;}


.panel {margin-bottom:20px; background-color:#fff; border:1px solid transparent; border-radius:3px; -webkit-box-shadow:0 1px 1px rgba(0, 0, 0, .05); box-shadow:1px 1px rgba(0, 0, 0, .05);}
.panel-body {padding:15px;}
.panel-heading {padding:10px 15px; border-bottom:1px solid transparent; border-top-left-radius:3px; border-top-right-radius:3px;}
.panel-heading > .dropdown .dropdown-toggle {color:inherit;}
.panel-title {margin-top:0; margin-bottom:0; font-size:16px; color:inherit;}
.panel-title > a {color:inherit;}
.panel-footer {padding:10px 15px; background-color:#f5f5f5; border-top:1px solid #ddd; border-bottom-right-radius:3px; border-bottom-left-radius:3px;}
.panel-search-form {font-size:12px; border-color:#ddd;}
.panel-search-form .row {padding:5px 0;}

.panel-default {border-color:#ddd;}
.panel-default > .panel-heading {color:#333; background-color:#f5f5f5; border-color:#ddd;}
.panel-default > .panel-heading + .panel-collapse > .panel-body {border-top-color:#ddd;}
.panel-default > .panel-heading .badge {color:#f5f5f5; background-color:#333;}
.panel-default > .panel-footer + .panel-collapse > .panel-body {border-bottom-color:#ddd;}
.panel-primary {border-color:#428bca;}
.panel-primary > .panel-heading {
color: #fff;
background-color: #428bca;
border-color: #428bca;
}
.panel-primary > .panel-heading + .panel-collapse > .panel-body {
border-top-color: #428bca;
}
.panel-primary > .panel-heading .badge {
color: #428bca;
background-color: #fff;
}
.panel-primary > .panel-footer + .panel-collapse > .panel-body {
border-bottom-color: #428bca;
}
.panel-success {
border-color: #d6e9c6;
}
.panel-success > .panel-heading {
color: #3c763d;
background-color: #dff0d8;
border-color: #d6e9c6;
}
.panel-success > .panel-heading + .panel-collapse > .panel-body {
border-top-color: #d6e9c6;
}
.panel-success > .panel-heading .badge {
color: #dff0d8;
background-color: #3c763d;
}
.panel-success > .panel-footer + .panel-collapse > .panel-body {
border-bottom-color: #d6e9c6;
}
.panel-info {
border-color: #bce8f1;
}
.panel-info > .panel-heading {
color: #31708f;
background-color: #d9edf7;
border-color: #bce8f1;
}
.panel-info > .panel-heading + .panel-collapse > .panel-body {
border-top-color: #bce8f1;
}
.panel-info > .panel-heading .badge {
color: #d9edf7;
background-color: #31708f;
}
.panel-info > .panel-footer + .panel-collapse > .panel-body {
border-bottom-color: #bce8f1;
}
.panel-warning {
border-color: #faebcc;
}
.panel-warning > .panel-heading {
color: #8a6d3b;
background-color: #fcf8e3;
border-color: #faebcc;
}
.panel-warning > .panel-heading + .panel-collapse > .panel-body {
border-top-color: #faebcc;
}
.panel-warning > .panel-heading .badge {
color: #fcf8e3;
background-color: #8a6d3b;
}
.panel-warning > .panel-footer + .panel-collapse > .panel-body {
border-bottom-color: #faebcc;
}
.panel-danger {
border-color: #ebccd1;
}
.panel-danger > .panel-heading {
color: #a94442;
background-color: #f2dede;
border-color: #ebccd1;
}
.panel-danger > .panel-heading + .panel-collapse > .panel-body {
border-top-color: #ebccd1;
}
.panel-danger > .panel-heading .badge {
color: #f2dede;
background-color: #a94442;
}
.panel-danger > .panel-footer + .panel-collapse > .panel-body {
border-bottom-color: #ebccd1;
}


.pagination {display:inline-block; padding-left:0; margin:20px 0; font-size:12px; border-radius:4px;}
.pagination > li {display:inline;}
.pagination > li > a,
.pagination > li > span {position:relative; float:left; padding:6px 12px; margin-left:-1px; line-height:1.42857143; color:#428bca; text-decoration:none; background-color:#fff; border:1px solid #ddd;}
.pagination > li:first-child > a,
.pagination > li:first-child > span {margin-left:0; border-top-left-radius:4px; border-bottom-left-radius:4px;}
.pagination > li:last-child > a,
.pagination > li:last-child > span {border-top-right-radius:4px; border-bottom-right-radius:4px;}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {color:#2a6496; background-color:#eee; border-color:#ddd;}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {z-index:2; color:#fff; cursor:default; background-color:#428bca; border-color:#428bca;}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {color:#777; cursor:not-allowed; background-color:#fff; border-color:#ddd;}


select{
height:30px;
padding:4px 5px;
font-size:12px;
line-height:1.42857143;
color:#555;
background-color:#fff;
background-image:none;
border:1px solid #ccc;
border-radius:3px;
vertical-align:middle;
}

input[type="text"],input[type="password"]
.form-control {
height:24px;
padding:2px 6px;
font-size:12px;
line-height:1.42857143;
color:#555;
background-color:#fff;
background-image:none;
border:1px solid #ccc;
border-radius:3px;
vertical-align:middle;
}
input[type="radio"],
input[type="checkbox"] {vertical-align:middle;}
.datepicker {width:100px;}



/* jQuery UI */
.ui-helper-hidden{display:none}.ui-helper-hidden-accessible{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px}.ui-helper-reset{margin:0;padding:0;border:0;outline:0;line-height:1.3;text-decoration:none;font-size:100%;list-style:none}.ui-helper-clearfix:before,.ui-helper-clearfix:after{content:"";display:table;border-collapse:collapse}.ui-helper-clearfix:after{clear:both}.ui-helper-clearfix{min-height:0}.ui-helper-zfix{width:100%;height:100%;top:0;left:0;position:absolute;opacity:0;filter:Alpha(Opacity=0)}.ui-front{z-index:100}.ui-state-disabled{cursor:default!important}.ui-icon{display:block;text-indent:-99999px;overflow:hidden;background-repeat:no-repeat}.ui-widget-overlay{position:fixed;top:0;left:0;width:100%;height:100%}.ui-datepicker{width:17em;padding:.2em .2em 0;display:none}.ui-datepicker .ui-datepicker-header{position:relative;padding:.2em 0}.ui-datepicker .ui-datepicker-prev,.ui-datepicker .ui-datepicker-next{position:absolute;top:2px;width:1.8em;height:1.8em}.ui-datepicker .ui-datepicker-prev-hover,.ui-datepicker .ui-datepicker-next-hover{top:1px}.ui-datepicker .ui-datepicker-prev{left:2px}.ui-datepicker .ui-datepicker-next{right:2px}.ui-datepicker .ui-datepicker-prev-hover{left:1px}.ui-datepicker .ui-datepicker-next-hover{right:1px}.ui-datepicker .ui-datepicker-prev span,.ui-datepicker .ui-datepicker-next span{display:block;position:absolute;left:50%;margin-left:-8px;top:50%;margin-top:-8px}.ui-datepicker .ui-datepicker-title{margin:0 2.3em;line-height:1.8em;text-align:center}.ui-datepicker .ui-datepicker-title select{font-size:1em;margin:1px 0}.ui-datepicker select.ui-datepicker-month,.ui-datepicker select.ui-datepicker-year{width:45%}.ui-datepicker table{width:100%;font-size:.9em;border-collapse:collapse;margin:0 0 .4em}.ui-datepicker th{padding:.7em .3em;text-align:center;font-weight:bold;border:0}.ui-datepicker td{border:0;padding:1px}.ui-datepicker td span,.ui-datepicker td a{display:block;padding:.2em;text-align:right;text-decoration:none}.ui-datepicker .ui-datepicker-buttonpane{background-image:none;margin:.7em 0 0 0;padding:0 .2em;border-left:0;border-right:0;border-bottom:0}.ui-datepicker .ui-datepicker-buttonpane button{float:right;margin:.5em .2em .4em;cursor:pointer;padding:.2em .6em .3em .6em;width:auto;overflow:visible}.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current{float:left}.ui-datepicker.ui-datepicker-multi{width:auto}.ui-datepicker-multi .ui-datepicker-group{float:left}.ui-datepicker-multi .ui-datepicker-group table{width:95%;margin:0 auto .4em}.ui-datepicker-multi-2 .ui-datepicker-group{width:50%}.ui-datepicker-multi-3 .ui-datepicker-group{width:33.3%}.ui-datepicker-multi-4 .ui-datepicker-group{width:25%}.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header,.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header{border-left-width:0}.ui-datepicker-multi .ui-datepicker-buttonpane{clear:left}.ui-datepicker-row-break{clear:both;width:100%;font-size:0}.ui-datepicker-rtl{direction:rtl}.ui-datepicker-rtl .ui-datepicker-prev{right:2px;left:auto}.ui-datepicker-rtl .ui-datepicker-next{left:2px;right:auto}.ui-datepicker-rtl .ui-datepicker-prev:hover{right:1px;left:auto}.ui-datepicker-rtl .ui-datepicker-next:hover{left:1px;right:auto}.ui-datepicker-rtl .ui-datepicker-buttonpane{clear:right}.ui-datepicker-rtl .ui-datepicker-buttonpane button{float:left}.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current,.ui-datepicker-rtl .ui-datepicker-group{float:right}.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header,.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header{border-right-width:0;border-left-width:1px}.ui-widget{font-family:Arial,sans-serif;font-size:1.1em}.ui-widget .ui-widget{font-size:1em}.ui-widget input,.ui-widget select,.ui-widget textarea,.ui-widget button{font-family:Arial,sans-serif;font-size:1em}.ui-widget-content{border:1px solid #eee;background:#fff url("../img/ui-bg_flat_75_ffffff_40x100.png") 50% 50% repeat-x;color:#333}.ui-widget-content a{color:#333}.ui-widget-header{border:1px solid #e3a1a1;background:#c00 url("../img/ui-bg_highlight-soft_15_cc0000_1x100.png") 50% 50% repeat-x;color:#fff;font-weight:bold}.ui-widget-header a{color:#fff}.ui-state-default,.ui-widget-content .ui-state-default,.ui-widget-header .ui-state-default{border:1px solid #d8dcdf;background:#eee url("../img/ui-bg_highlight-hard_100_eeeeee_1x100.png") 50% 50% repeat-x;font-weight:bold;color:#004276}.ui-state-default a,.ui-state-default a:link,.ui-state-default a:visited{color:#004276;text-decoration:none}.ui-state-hover,.ui-widget-content .ui-state-hover,.ui-widget-header .ui-state-hover,.ui-state-focus,.ui-widget-content .ui-state-focus,.ui-widget-header .ui-state-focus{border:1px solid #cdd5da;background:#f6f6f6 url("../img/ui-bg_highlight-hard_100_f6f6f6_1x100.png") 50% 50% repeat-x;font-weight:bold;color:#111}.ui-state-hover a,.ui-state-hover a:hover,.ui-state-hover a:link,.ui-state-hover a:visited,.ui-state-focus a,.ui-state-focus a:hover,.ui-state-focus a:link,.ui-state-focus a:visited{color:#111;text-decoration:none}.ui-state-active,.ui-widget-content .ui-state-active,.ui-widget-header .ui-state-active{border:1px solid #eee;background:#fff url("../img/ui-bg_flat_65_ffffff_40x100.png") 50% 50% repeat-x;font-weight:bold;color:#c00}.ui-state-active a,.ui-state-active a:link,.ui-state-active a:visited{color:#c00;text-decoration:none}.ui-state-highlight,.ui-widget-content .ui-state-highlight,.ui-widget-header .ui-state-highlight{border:1px solid #fcd3a1;background:#fbf8ee url("../img/ui-bg_glass_55_fbf8ee_1x400.png") 50% 50% repeat-x;color:#444}.ui-state-highlight a,.ui-widget-content .ui-state-highlight a,.ui-widget-header .ui-state-highlight a{color:#444}.ui-state-error,.ui-widget-content .ui-state-error,.ui-widget-header .ui-state-error{border:1px solid #c00;background:#f3d8d8 url("../img/ui-bg_diagonals-thick_75_f3d8d8_40x40.png") 50% 50% repeat;color:#2e2e2e}.ui-state-error a,.ui-widget-content .ui-state-error a,.ui-widget-header .ui-state-error a{color:#2e2e2e}.ui-state-error-text,.ui-widget-content .ui-state-error-text,.ui-widget-header .ui-state-error-text{color:#2e2e2e}.ui-priority-primary,.ui-widget-content .ui-priority-primary,.ui-widget-header .ui-priority-primary{font-weight:bold}.ui-priority-secondary,.ui-widget-content .ui-priority-secondary,.ui-widget-header .ui-priority-secondary{opacity:.7;filter:Alpha(Opacity=70);font-weight:normal}.ui-state-disabled,.ui-widget-content .ui-state-disabled,.ui-widget-header .ui-state-disabled{opacity:.35;filter:Alpha(Opacity=35);background-image:none}.ui-state-disabled .ui-icon{filter:Alpha(Opacity=35)}.ui-icon{width:16px;height:16px}.ui-icon,.ui-widget-content .ui-icon{background-image:url("../img/ui-icons_cc0000_256x240.png")}.ui-widget-header .ui-icon{background-image:url("../img/ui-icons_ffffff_256x240.png")}.ui-state-default .ui-icon{background-image:url("../img/ui-icons_cc0000_256x240.png")}.ui-state-hover .ui-icon,.ui-state-focus .ui-icon{background-image:url("../img/ui-icons_cc0000_256x240.png")}.ui-state-active .ui-icon{background-image:url("../img/ui-icons_cc0000_256x240.png")}.ui-state-highlight .ui-icon{background-image:url("../img/ui-icons_004276_256x240.png")}.ui-state-error .ui-icon,.ui-state-error-text .ui-icon{background-image:url("../img/ui-icons_cc0000_256x240.png")}.ui-icon-blank{background-position:16px 16px}.ui-icon-carat-1-n{background-position:0 0}.ui-icon-carat-1-ne{background-position:-16px 0}.ui-icon-carat-1-e{background-position:-32px 0}.ui-icon-carat-1-se{background-position:-48px 0}.ui-icon-carat-1-s{background-position:-64px 0}.ui-icon-carat-1-sw{background-position:-80px 0}.ui-icon-carat-1-w{background-position:-96px 0}.ui-icon-carat-1-nw{background-position:-112px 0}.ui-icon-carat-2-n-s{background-position:-128px 0}.ui-icon-carat-2-e-w{background-position:-144px 0}.ui-icon-triangle-1-n{background-position:0 -16px}.ui-icon-triangle-1-ne{background-position:-16px -16px}.ui-icon-triangle-1-e{background-position:-32px -16px}.ui-icon-triangle-1-se{background-position:-48px -16px}.ui-icon-triangle-1-s{background-position:-64px -16px}.ui-icon-triangle-1-sw{background-position:-80px -16px}.ui-icon-triangle-1-w{background-position:-96px -16px}.ui-icon-triangle-1-nw{background-position:-112px -16px}.ui-icon-triangle-2-n-s{background-position:-128px -16px}.ui-icon-triangle-2-e-w{background-position:-144px -16px}.ui-icon-arrow-1-n{background-position:0 -32px}.ui-icon-arrow-1-ne{background-position:-16px -32px}.ui-icon-arrow-1-e{background-position:-32px -32px}.ui-icon-arrow-1-se{background-position:-48px -32px}.ui-icon-arrow-1-s{background-position:-64px -32px}.ui-icon-arrow-1-sw{background-position:-80px -32px}.ui-icon-arrow-1-w{background-position:-96px -32px}.ui-icon-arrow-1-nw{background-position:-112px -32px}.ui-icon-arrow-2-n-s{background-position:-128px -32px}.ui-icon-arrow-2-ne-sw{background-position:-144px -32px}.ui-icon-arrow-2-e-w{background-position:-160px -32px}.ui-icon-arrow-2-se-nw{background-position:-176px -32px}.ui-icon-arrowstop-1-n{background-position:-192px -32px}.ui-icon-arrowstop-1-e{background-position:-208px -32px}.ui-icon-arrowstop-1-s{background-position:-224px -32px}.ui-icon-arrowstop-1-w{background-position:-240px -32px}.ui-icon-arrowthick-1-n{background-position:0 -48px}.ui-icon-arrowthick-1-ne{background-position:-16px -48px}.ui-icon-arrowthick-1-e{background-position:-32px -48px}.ui-icon-arrowthick-1-se{background-position:-48px -48px}.ui-icon-arrowthick-1-s{background-position:-64px -48px}.ui-icon-arrowthick-1-sw{background-position:-80px -48px}.ui-icon-arrowthick-1-w{background-position:-96px -48px}.ui-icon-arrowthick-1-nw{background-position:-112px -48px}.ui-icon-arrowthick-2-n-s{background-position:-128px -48px}.ui-icon-arrowthick-2-ne-sw{background-position:-144px -48px}.ui-icon-arrowthick-2-e-w{background-position:-160px -48px}.ui-icon-arrowthick-2-se-nw{background-position:-176px -48px}.ui-icon-arrowthickstop-1-n{background-position:-192px -48px}.ui-icon-arrowthickstop-1-e{background-position:-208px -48px}.ui-icon-arrowthickstop-1-s{background-position:-224px -48px}.ui-icon-arrowthickstop-1-w{background-position:-240px -48px}.ui-icon-arrowreturnthick-1-w{background-position:0 -64px}.ui-icon-arrowreturnthick-1-n{background-position:-16px -64px}.ui-icon-arrowreturnthick-1-e{background-position:-32px -64px}.ui-icon-arrowreturnthick-1-s{background-position:-48px -64px}.ui-icon-arrowreturn-1-w{background-position:-64px -64px}.ui-icon-arrowreturn-1-n{background-position:-80px -64px}.ui-icon-arrowreturn-1-e{background-position:-96px -64px}.ui-icon-arrowreturn-1-s{background-position:-112px -64px}.ui-icon-arrowrefresh-1-w{background-position:-128px -64px}.ui-icon-arrowrefresh-1-n{background-position:-144px -64px}.ui-icon-arrowrefresh-1-e{background-position:-160px -64px}.ui-icon-arrowrefresh-1-s{background-position:-176px -64px}.ui-icon-arrow-4{background-position:0 -80px}.ui-icon-arrow-4-diag{background-position:-16px -80px}.ui-icon-extlink{background-position:-32px -80px}.ui-icon-newwin{background-position:-48px -80px}.ui-icon-refresh{background-position:-64px -80px}.ui-icon-shuffle{background-position:-80px -80px}.ui-icon-transfer-e-w{background-position:-96px -80px}.ui-icon-transferthick-e-w{background-position:-112px -80px}.ui-icon-folder-collapsed{background-position:0 -96px}.ui-icon-folder-open{background-position:-16px -96px}.ui-icon-document{background-position:-32px -96px}.ui-icon-document-b{background-position:-48px -96px}.ui-icon-note{background-position:-64px -96px}.ui-icon-mail-closed{background-position:-80px -96px}.ui-icon-mail-open{background-position:-96px -96px}.ui-icon-suitcase{background-position:-112px -96px}.ui-icon-comment{background-position:-128px -96px}.ui-icon-person{background-position:-144px -96px}.ui-icon-print{background-position:-160px -96px}.ui-icon-trash{background-position:-176px -96px}.ui-icon-locked{background-position:-192px -96px}.ui-icon-unlocked{background-position:-208px -96px}.ui-icon-bookmark{background-position:-224px -96px}.ui-icon-tag{background-position:-240px -96px}.ui-icon-home{background-position:0 -112px}.ui-icon-flag{background-position:-16px -112px}.ui-icon-calendar{background-position:-32px -112px}.ui-icon-cart{background-position:-48px -112px}.ui-icon-pencil{background-position:-64px -112px}.ui-icon-clock{background-position:-80px -112px}.ui-icon-disk{background-position:-96px -112px}.ui-icon-calculator{background-position:-112px -112px}.ui-icon-zoomin{background-position:-128px -112px}.ui-icon-zoomout{background-position:-144px -112px}.ui-icon-search{background-position:-160px -112px}.ui-icon-wrench{background-position:-176px -112px}.ui-icon-gear{background-position:-192px -112px}.ui-icon-heart{background-position:-208px -112px}.ui-icon-star{background-position:-224px -112px}.ui-icon-link{background-position:-240px -112px}.ui-icon-cancel{background-position:0 -128px}.ui-icon-plus{background-position:-16px -128px}.ui-icon-plusthick{background-position:-32px -128px}.ui-icon-minus{background-position:-48px -128px}.ui-icon-minusthick{background-position:-64px -128px}.ui-icon-close{background-position:-80px -128px}.ui-icon-closethick{background-position:-96px -128px}.ui-icon-key{background-position:-112px -128px}.ui-icon-lightbulb{background-position:-128px -128px}.ui-icon-scissors{background-position:-144px -128px}.ui-icon-clipboard{background-position:-160px -128px}.ui-icon-copy{background-position:-176px -128px}.ui-icon-contact{background-position:-192px -128px}.ui-icon-image{background-position:-208px -128px}.ui-icon-video{background-position:-224px -128px}.ui-icon-script{background-position:-240px -128px}.ui-icon-alert{background-position:0 -144px}.ui-icon-info{background-position:-16px -144px}.ui-icon-notice{background-position:-32px -144px}.ui-icon-help{background-position:-48px -144px}.ui-icon-check{background-position:-64px -144px}.ui-icon-bullet{background-position:-80px -144px}.ui-icon-radio-on{background-position:-96px -144px}.ui-icon-radio-off{background-position:-112px -144px}.ui-icon-pin-w{background-position:-128px -144px}.ui-icon-pin-s{background-position:-144px -144px}.ui-icon-play{background-position:0 -160px}.ui-icon-pause{background-position:-16px -160px}.ui-icon-seek-next{background-position:-32px -160px}.ui-icon-seek-prev{background-position:-48px -160px}.ui-icon-seek-end{background-position:-64px -160px}.ui-icon-seek-start{background-position:-80px -160px}.ui-icon-seek-first{background-position:-80px -160px}.ui-icon-stop{background-position:-96px -160px}.ui-icon-eject{background-position:-112px -160px}.ui-icon-volume-off{background-position:-128px -160px}.ui-icon-volume-on{background-position:-144px -160px}.ui-icon-power{background-position:0 -176px}.ui-icon-signal-diag{background-position:-16px -176px}.ui-icon-signal{background-position:-32px -176px}.ui-icon-battery-0{background-position:-48px -176px}.ui-icon-battery-1{background-position:-64px -176px}.ui-icon-battery-2{background-position:-80px -176px}.ui-icon-battery-3{background-position:-96px -176px}.ui-icon-circle-plus{background-position:0 -192px}.ui-icon-circle-minus{background-position:-16px -192px}.ui-icon-circle-close{background-position:-32px -192px}.ui-icon-circle-triangle-e{background-position:-48px -192px}.ui-icon-circle-triangle-s{background-position:-64px -192px}.ui-icon-circle-triangle-w{background-position:-80px -192px}.ui-icon-circle-triangle-n{background-position:-96px -192px}.ui-icon-circle-arrow-e{background-position:-112px -192px}.ui-icon-circle-arrow-s{background-position:-128px -192px}.ui-icon-circle-arrow-w{background-position:-144px -192px}.ui-icon-circle-arrow-n{background-position:-160px -192px}.ui-icon-circle-zoomin{background-position:-176px -192px}.ui-icon-circle-zoomout{background-position:-192px -192px}.ui-icon-circle-check{background-position:-208px -192px}.ui-icon-circlesmall-plus{background-position:0 -208px}.ui-icon-circlesmall-minus{background-position:-16px -208px}.ui-icon-circlesmall-close{background-position:-32px -208px}.ui-icon-squaresmall-plus{background-position:-48px -208px}.ui-icon-squaresmall-minus{background-position:-64px -208px}.ui-icon-squaresmall-close{background-position:-80px -208px}.ui-icon-grip-dotted-vertical{background-position:0 -224px}.ui-icon-grip-dotted-horizontal{background-position:-16px -224px}.ui-icon-grip-solid-vertical{background-position:-32px -224px}.ui-icon-grip-solid-horizontal{background-position:-48px -224px}.ui-icon-gripsmall-diagonal-se{background-position:-64px -224px}.ui-icon-grip-diagonal-se{background-position:-80px -224px}.ui-corner-all,.ui-corner-top,.ui-corner-left,.ui-corner-tl{border-top-left-radius:6px}.ui-corner-all,.ui-corner-top,.ui-corner-right,.ui-corner-tr{border-top-right-radius:6px}.ui-corner-all,.ui-corner-bottom,.ui-corner-left,.ui-corner-bl{border-bottom-left-radius:6px}.ui-corner-all,.ui-corner-bottom,.ui-corner-right,.ui-corner-br{border-bottom-right-radius:6px}.ui-widget-overlay{background:#a6a6a6 url("../img/ui-bg_dots-small_65_a6a6a6_2x2.png") 50% 50% repeat;opacity:.4;filter:Alpha(Opacity=40)}.ui-widget-shadow{margin:-8px 0 0 -8px;padding:8px;background:#333 url("../img/ui-bg_flat_0_333333_40x100.png") 50% 50% repeat-x;opacity:.1;filter:Alpha(Opacity=10);border-radius:8px}


/* guide only */
.guide-well {padding:15px; border:1px solid #e3e3e3; background-color:#fff;}
.guide-well .example {margin:0 0 10px 0; font-size:14px; color:#666;}
.guide-pre {margin:0 0 20px 0; padding:15px; border:1px solid #e3e3e3; background:#f5f5f5;}


/* 20160602 */
.course-tree-wrap {}
.course-tree > li > a { font-size:13px; font-weight:600; }
.course-tree > li > ul { padding:7px 0 7px 15px; display:none; }
.course-tree > li.toggle > ul { display:block; }
.course-tree > li > ul > li { padding:2px 0; position:relative; }
.course-tree > li > ul > li:before { content:''; position:absolute; left:-12px; top:0; display:block; border-left:1px solid #ddd; border-bottom:1px solid #ddd; width:10px; height:10px; }
.course-tree > li > ul > li.active { font-weight:600; color:#06F; }
.course-tree .btn-del { width:14px; height:14px; line-height:14px; padding:0; font-size:11px; font-family:'dotum'; *margin-left:4px; margin-top:-2px; }
.course-tree .ico-toggle { display:inline-block; *zoom:1; *display:inline; vertical-align:middle; width:9px; height:9px; background:url(http://eduadmin.hunet.co.kr/Scripts/treeview/skin/icons.gif) no-repeat -1px -83px; margin-right:6px; }
.course-tree > li.toggle .ico-toggle { background-position:-33px -83px; }

/* 20160615 근로자카드 MODAL */
.modal .file-list table { width:100%; border-collapse:collapse; border:1px solid #ddd; }
.modal .file-list table tbody td {  padding:7px 12px; border-bottom:1px solid #ddd; }

/* 20160920 File List Layer */
.layer-file-list { position:relative; }
.layer-file-list .file-list { display:none; position:absolute; right:0; top:26px; width:160px; background:#f2f2f2; border:1px solid #ccc; box-shadow:2px 2px 4px rgba(0,0,0,0.3); }
.layer-file-list .file-list.active { display:block; }
.layer-file-list .file-list ul { max-height:104px; overflow:auto; }
.layer-file-list .file-list ul li { padding:3px 10px; border-top:1px solid #ccc; font-size:11px; text-align:left; overflow:hidden; }
.layer-file-list .file-list ul li:first-child { border-top:0; }
.layer-file-list .file-list ul li a { color:#333; float:left; font-size:11px; }
.layer-file-list .file-list ul li .btn { float:right; }
.layer-file-list .file-list .btn-close { position:absolute; right:0; bottom:-25px; }


/* 구역 나누기 2017-05-25 */
.left-box {
  float: left;
  width: 50%;
  text-align: left;
}
.right-box {
  float: right;
  width: 50%;
  text-align: right;
}